[2020-04-18 16:45] ronaldtse commented on #253
This ID applies to ISO and IEC documents as per RFC 5141 https://tools.ietf.org/html/rfc5141.

We should utilize this scheme for all ISO/IEC documents.

[2020-04-20 00:51] ronaldtse commented on #246
Thanks for posting this @Intelligent2013 . We could add them as bibliographic dates:

* date of base document publication
* date of derived document publication (Amendment, Tech Corr, Translations, etc)

[2020-04-20 01:00] ronaldtse commented on #247
These are organization-specific dates, so we need to have a list of them for each flavor.

OR we allow free form input, such as `:bib-date-{xxx}: 2021-01-01` => `type="xxx"`.

ISO STS specifies this element here:
https://www.iso.org/schema/isosts/v1.1/doc/index.html

But they only provided this example:
[code]

[2020-04-20 01:02] ronaldtse commented on #248
This is part of TBX-ISO-TBT which is a cut-down form of normal TBX:
https://www.iso.org/schema/isosts/v1.1/doc/tbx/index.html

Our Glossarist Concept/Term model encompasses these elements: https://github.com/glossarist/concept-model/

[2020-04-20 01:02] ronaldtse commented on #249
This is part of TBX-ISO-TBT which is a cut-down form of normal TBX:
https://www.iso.org/schema/isosts/v1.1/doc/tbx/index.html

Our Glossarist Concept/Term model encompasses these elements: https://github.com/glossarist/concept-model/

[2020-04-20 01:04] ronaldtse commented on #253
I think this URN should be generated by Relaton. Let me open a ticket there.

[2020-04-20 12:10] ronaldtse opened #255 "Update Metanorma term model with Glossarist's concept model"
This Glossarist concept model fully addresses all ISO-IEC usage of terminology according to ISO 10241-1, and also handles terms from IEC Electropedia.

We wish to update Metanorma's term model to this new one:
https://github.com/glossarist/concept-model

This issue supersedes:
* #248
* #249

[2020-04-20 17:19] ronaldtse opened #256 "Math expressions ("<" sign) is not rendering well in definition lists"
From @anermina

While editing ISO 10303-50, I've noticed that one stem expression is not rendering well when written in a definition of some item, although it is rendering well when it's written in a regular paragraph. This issue is yellow highlighted in the image below.

![image](https://user-images.githubusercontent.com/11865/79707305-a331d200-82ee-11ea-961e-393db5857fd6.png)

[test.zip](https:/

[2020-04-20 17:20] ronaldtse opened #257 "Math expressions with "|" symbol are not generating well"
From @anermina

When math expressions include "|" symbol, brackets which come afterwards are not generated. Moreover, matrices which include "|" are not generated properly.
This was noticed while editing ISO 10303-50.

Example with brackets:

Expected:
![image](https://user-images.githubusercontent.com/11865/79707231-51894780-82ee-11ea-8c82-1b7cbee87e50.png)

Generated:
![image](https://user-image

[2020-04-22 06:12] opoudjis commented on #225
I do one example, with minimal file with error, written to a subdirectory, then assign to @w00lf to do remainder.

[2020-04-22 06:20] opoudjis commented on #246
I would much prefer the relation to be the latter: for document X, "date of base document publication" = `X/bibdata/relation[@type = "updates"]/bibitem[edition.text() = "1"]/date[@type = "published"]`.

I think you see the problem with that though. A document is in an "updates" relation with all its previous editions, and we cannot assume that all first editions are going to be coded as `<edition>

[2020-04-23 08:00] ronaldtse commented on #195
Merged and documented on metanorma.com. Thanks @w00lf and @ribose-jeffreylau  !

[2020-04-23 08:01] #195 closed

[2020-04-23 11:47] opoudjis commented on #241
Addressing by detecting

[code]

The top `div` is the wrapper added by page break processing. The div of class = "Section3" will have a mandatory pagebreak before it, rendering the preceding pagebreak  redundant.

[2020-04-23 13:30] opoudjis commented on #247
The Relaton XML equivalent is, and always has been, `//bibdata/date[@type = "..."]`. We have tried to constrain dates to a universal vocabulary, as documented in https://github.com/relaton/relaton-models/blob/master/images/RelBib_Date.png

The Relaton XML entries must be generic, and therefore any flavour-specific dates belong to the flavour-specific extension to the bibliographic descriptions: `/

[2020-04-24 03:20] ronaldtse opened #258 "Math `stem:[[j_1, j_n\]]` being treated as an anchor"
In ISO 10303-50 these messages are generated:

[code]

This is because the input of:
[code]
is being treated as an anchor definition.

[2020-04-24 18:35] ronaldtse opened #259 "Supporting locality indicators in documents for technical corrigendum/amendments"
We need a locality reference mechanism to define what things to change in technical corrigenda/amendments:

[code]

This can be specified like:

[code]

This is also necessary for rendering of the TC/Amd, e.g.:

[code]

Here, the table needs to be rendered as:
* Table 2 -- Edges of triangle and quadrilateral cells

So this sort of syntax is necessary:

[code]

[2020-04-25 09:20] opoudjis commented on #246
Our decision, @ronaldtse and mine, is for the time being to proceed with the former option:

[code]

If that doesn't work -- because we cannot rely on first editions to be numbered 1 -- I will either introduce `<edition first="true">` to insist on it, or else concede or introduce `date[@type = "firstpublished"]`

[2020-04-25 09:20] #246 closed

[2020-04-25 09:38] ronaldtse commented on #246
Discussed and agree with @opoudjis , thanks.

[2020-04-25 11:27] opoudjis commented on #243
The presence of Abbreviations is resulting in the MathML markup being stripped...

[2020-04-25 11:33] opoudjis commented on #243
https://github.com/metanorma/metanorma-iso/issues/338 has partly addressed this. Now maths is fine, but abbreviations are being ignored in output.

[2020-04-25 11:34] opoudjis commented on #243
Ah, that's... easy but nasty. ISO expects to find one `<symbols>` tag, and ignores a second: the sample document has `==Symbols`  then `==Abbreviations`.

So this issue is a duplicate of metanorma/metanorma-iso#338, and is now resolved.

[2020-04-25 11:34] #243 closed

[2020-04-26 09:14] ronaldtse opened #260 "yaml2text: not working with a typical use case"
authority-codes.yaml
[code]

[code]

Error:
[code]

[2020-04-26 09:16] ronaldtse opened #261 "yaml2text: data path should be from current text file"
In this snippet, `foo/bar.yaml` should be read from the current file's directory, not the working directory where the `metanorma` command was executed.

[code]

Right now it assumes that `foo/bar.yaml` is located at the working directory.

[2020-04-26 09:21] ronaldtse opened #262 "yaml2text: hierarchical objects cannot be accessed via `.` dot notation"
In this yaml2text context:

[code]

With data:
[code]

`{data.foo.x.bar}` refers to the value of "hello".

However, currently the "dot" notation only works for the first level.

i.e.
`{data.foo.y}` => "hi"
but
`{data.foo.x.bar}` => ERROR

The workaround is:
`{data.foo['x']['bar']}` => ERROR

[2020-04-26 17:00] manuel489 opened #263 "Double hyphen not getting rendered"
*Maybe this is a low-priority issue*

Escape markup `\--` to render double dash (instead of em-dash) isn't working.

*Sample markup:*
[code]

*Metanorma:*
![capture](https://user-images.githubusercontent.com/33627611/80314159-d1ffea80-87bd-11ea-80b2-907b94e26d67.PNG)

*Asciidoctor:*
![capture2](https://user-images.githubusercontent.com/33627611/80314162-d4fadb00-87bd-11ea-96b8-2ca642f5d0bf.PNG)

[2020-04-27 21:28] CAMOBAP795 commented on #244
Fixed

[2020-04-27 21:30] #244 closed

[2020-04-28 00:17] opoudjis commented on #255
I've updated the concept model under https://github.com/glossarist/concept-model. I won't have time to implement it before starting on IHO, but this is an initial serialisation.

The current Metanorma XML grammar for terms is:

[code]

The future state will be:

[code]

[2020-04-28 08:30] ronaldtse commented on #236
This path `result\international-standard/result\international-standard\document.err` is clearly wrong, please help fix it. Thanks!

[2020-04-28 11:23] opoudjis opened #265 "In document with mixed LaTeX and AsciiMath, XML and HTML output truncating prematurely"

[2020-04-28 11:24] opoudjis commented on #265
The issue was the postprocessing of math expressions: I was using regexes to wrap MathML expressions in `<stem>` if they were AsciiMath converted to MathML (this was very old code, and I had not anticipated mixing of LaTeX and AsciiMath and MathML in the one document), and that meant that ill-formed XML was being generated.

[2020-04-28 11:43] #265 closed

[2020-04-29 11:36] opoudjis commented on #257
Ugh.

The problem is that | can act as a delimiter in matrixes, just as { } and ( ) and [ ] can. So when the asciimath parser encounters this, it thinks that the expression started with { ends at |.

This is difficult to address, because of genuine ambiguity.

[2020-04-29 11:50] opoudjis commented on #257
Asciimath has `:|:` for this case, but it isn't being recognised by the parser. Investigating.

[2020-04-29 12:05] opoudjis commented on #257
It turns out that this is unreleased functionality.

So:

@anermina, @manuel489 : if you have any AsciiMath that looks like: `{ ... | ... }`  , where curly brackets may be replaced by angle brackets, square brackets, or parentheses, do *not* use `|`, which by default is treated as a bracket itself. Instead, use `:|:` . In the function of "such that", you can always use `:|:` instead of `|`, whethe

[2020-04-29 12:05] #257 closed

[2020-04-29 12:22] opoudjis commented on #263
The substitution is not going to be prevented by `\--`, since that `\` only has scope over a single character, and in any case the substitution is done by Asciidoctor with regexes.

The problem here is that that substitution is done by me, overriding Asciidoctor, also with regexes...

This is not the most elegant solution in the world, but: use `-&#x200c;-` . &#x200c; is the Zero Width Non Joiner,

[2020-04-29 12:22] #263 closed

[2020-04-29 13:02] opoudjis commented on #256
I cannot replicate this: I am getting the expression intact in both locations. @anermina and @manuel489, can you both try again? And if this happens for either of you, can you please include the XML and HTML in what you send me?

[2020-04-29 14:33] anermina commented on #256
I can confirm this is no longer an issue. In both example document and ISO 10303-50, expected result is produced.

[2020-04-29 14:34] #256 closed

[2020-05-01 00:20] opoudjis commented on #246
As you can see, it is the relation with updates, and with a first edition indicated.

No, "updates" takes care of that:

[2020-05-01 14:13] ronaldtse commented on #246
Can you provide a syntax to demonstrate how to use this?

Can you provide a syntax to demonstrate how to use this?

[2020-05-01 15:31] #201 closed

[2020-05-03 08:02] #261 closed

[2020-05-03 08:02] #260 closed

[2020-05-03 08:02] #262 closed

[2020-05-03 19:08] ronaldtse opened #268 "Replace warnings of "Asciidoctor Input: " with "AsciiDoc input: ""
Update warning messages inside Metanorma.

[2020-05-04 05:15] #236 closed

[2020-05-04 14:20] ronaldtse opened #269 "break-up-urls-in-tables option should not affect XML/HTML/PDF"
`:break-up-urls-in-tables:` option was introduced in https://github.com/metanorma/metanorma-standoc/issues/219 . However, this was only implemented to accommodate Word's broken table wrap, and should not affect the actual content of MN XML (and PDF and HTML).

Right now, even the HTML URLs are being cut, as can be seen by the number of reports (e.g. https://github.com/opengeospatial/ogc-metanorma-

[2020-05-04 18:12] ronaldtse opened #270 "(Urgent) Regression: Terms and definitions section now unrecognizable"
With metanorma-iso 1.3.23

Source:
[code]

Previously:

[code]

Now:

[code]

[2020-05-04 18:24] ronaldtse commented on #270
From @Intelligent2013 :

[2020-05-05 02:29] opoudjis commented on #270
The fix in https://github.com/metanorma/metanorma-iso/issues/313 is wrong.

[2020-05-05 02:39] opoudjis commented on #270
The fix in metanorma/metanorma-iso#313 was only applicable if the child term section was empty; refined test to fall through to normal processing when it is not.

[2020-05-05 02:49] opoudjis commented on #270
The logic is:

[code]

Non-Term clauses disable `@term_ref` (special processing of terms)
Definitions clauses are processed as such
If there are children clauses, this is processed as a normal terms clause
If this is a childless clause: it is processed as a plain clause if titled as a terms clause (so that a clause is not misinterpreted as a term)
Else, it is a term clause

[2020-05-05 02:58] #270 closed

[2020-05-05 13:14] CAMOBAP commented on #131
For now latexml easily can be installed with `choco install latexml`

@anermina can you confirm that this works (or not) for you?

[2020-05-05 14:29] anermina commented on #131
@CAMOBAP yes, I don't have latexml issues anymore.

[2020-05-05 15:02] #131 closed

[2020-05-05 17:07] ronaldtse opened #271 "Differentiated image formats for Word / PDF"
Considering:

* Word doesn't accept SVG in MHT. In normal Word, it rasterizes it into PNG when dragged in / manually imported. Word only accepts .EMF as its vector format.

* PDF accepts SVG, but not .EMF.

For people who want to publish with vector graphics, they are forced to choose between SVG or EMF. And there does not seem to be a correct answer here (unless it's PNG).

The only decent softwa

[2020-05-05 23:55] opoudjis commented on #269
I dispute that it is not a problem for HTML; to make this Word-only is short-sighted. It is simply not true that a very long string in HTML will wrap, and that remains a problem.

Given that the default is already off (so that they should *not* be adding the option anywhere after the latest release—the ticket is still confused about that), I don't think action is warranted.

[2020-05-06 00:10] #268 closed

[2020-05-06 01:18] ronaldtse commented on #269
In HTML the proper wrapping mechanism is CSS “force-wrap”, which browsers implement, so breaking the URL is certainly the wrong thing to do there.

[2020-05-06 09:58] opoudjis commented on #246
[code]

... The definition takes care of that:

If two standards documents are editions of the same Work, that means that they will have the same document number (which identifies the Work), but different publication years or edition numbers. If they were unrelated documents, with one document replacing another in its coverage, the relation would be "obsoletes", not "updates".

[2020-05-06 10:03] opoudjis commented on #271
Magic is fine so long as it predictable and manageable. If any of these have online APIs, and we cache the results, that's potentially tractable.

People are going to balk at the choice; it may well be that if they don't offer alternates, we just don't generate the PDF or the Word.

I'm not convinced you need to destroy the output like that at all though. You could specify an SVG file by default,

[2020-05-06 10:04] opoudjis commented on #269
... And you're OK with PDF to be left to its own devices?

[2020-05-07 01:30] opoudjis opened #272 "Test updated AsciiMath conversion"
You may recall that we used to get a white square error with many AsciiMath expressions in Word, until we found the cause—Word requires mrow wrappers around the arguments of what it considers to be n-Ary operators, MathML munder mover munderover msup msub msupsub. We've had to kludge this in the past by putting the arguments in brackets.

The latest Github checkin of the AsciiMath, https://github.

[2020-05-07 15:25] anermina commented on #272
I remember having lots of issues with white squares while converting ITU G.650. Therefore, I tested all the relevant equations from that document, some of the equations from NIST 800-90B and some random ones, which I created only for testing purposes. All the generated equations were as expected (without white squares). Attached is the file I created for testing, as well as DOC outputs for NIST an

[2020-05-07 16:45] ronaldtse opened #273 "Duplicating anchors should not be allowed"
PDF raised an error because of duplicate anchors:
[code]

Problem was:

[code]

Duplicated anchors definitely deserve a hard error.

[2020-05-08 01:25] manuel489 commented on #272
Ok, I've got the same result as @anermina. Even this issue: https://github.com/metanorma/metanorma-standoc/issues/228, got solved 😃

[2020-05-08 01:28] manuel489 commented on #272
However, math expressions nested in `pseudocode` block get broken.

*Sample 1:*
[code]

*Output 1:*
![out1](https://user-images.githubusercontent.com/33627611/81360105-01113880-90a9-11ea-93f3-7b260a09b519.PNG)

*Sample 2:*
[code]

*Output 2:*
![out2](https://user-images.githubusercontent.com/33627611/81360185-30c04080-90a9-11ea-9506-e6a919dc133f.PNG)

[2020-05-08 01:50] opoudjis commented on #272
OK, @manuel489, could you please raise that as a new issue? It's an issue with "apostrophes" that I need to look out for anyway.

[2020-05-08 02:10] ronaldtse opened #274 "Nokogiri parse failure at fetching reference for 10303-45"
Initially I thought this is a Relaton bug but it isn't:
https://github.com/relaton/relaton-iso/issues/88

I actually don't get this on my local computer.

But this shows up for @CAMOBAP in the Docker container, and also this job:
https://github.com/metanorma/iso-10303/pull/36/checks?check_run_id=654004337

I suspect this may have to do with the size of the node insert again?

[code]

[2020-05-08 02:15] manuel489 opened #275 "Apostrophes issue in math expressions"
Math expressions nested in `pseudocode` blocks get broken.

*Sample 1:*
[code]

*Output 1:*
![out1](https://user-images.githubusercontent.com/33627611/81360105-01113880-90a9-11ea-93f3-7b260a09b519.PNG)

*Sample 2:*
[code]

*Output 2:*
![out2](https://user-images.githubusercontent.com/33627611/81360185-30c04080-90a9-11ea-9506-e6a919dc133f.PNG)

[equations.zip](https://github.com/metanorma/metanorma

[2020-05-08 02:17] manuel489 commented on #272
Ticket opened in https://github.com/metanorma/metanorma-standoc/issues/275

[2020-05-08 02:27] opoudjis commented on #275
Need to make sure that no pretty printing is done to the apostrophes inside AsciiMath, if they are inside pseudocode.

[2020-05-08 02:28] opoudjis commented on #272
Ok, thank you both!

[2020-05-08 02:28] #272 closed

[2020-05-08 02:37] opoudjis commented on #274
Of course, I'm going to have a devil of a time reproducing this, I can't rescue every instance of "<<", and Nokogiri is not saying anything about the crash anyway. But the error message is exactly the same as for the large Data-URI issue.

If the issue here is the size of the images, the fix in https://github.com/metanorma/metanorma-standoc/commit/cba1510801f1b19e6f1409c40a9380cc0114a565 happened

[2020-05-08 02:39] ronaldtse commented on #274
Ping @CAMOBAP can you try with the git gem version for metanorma-standoc?

[2020-05-11 12:21] opoudjis opened #276 "Title name does not overrule "appendix" or "prefix" directive"
e.g. `== Abbreviations` tagged as `[.preface]` need to be left alone in the preface. Is coming up a lot in IHO.

We want these sections recognised as special sections, but moved to preface like normal preface sections, or else left in annexes; in the case of annexes, we also need to signal that they are not a separate subheading within the annex (something that we have had to kludge within NIST.)

[2020-05-11 13:24] #276 closed

[2020-05-11 14:02] CAMOBAP commented on #274
@ronaldtse @opoudjis

Because bundler doesn't work in Makefile for docker here is my steps

This is my steps to test:
 - `docker run -v $(pwd):/metanorma -it metanorma/metanorma /bin/bash`
 - `bundle add metanorma-standoc --git https://github.com/metanorma/metanorma-standoc`
 - `wget https://github.com/mikefarah/yq/releases/download/3.3.0/yq_linux_amd64 -O /usr/bin/yq`
 - `chmod +x /usr/bin/yq`
 -

[2020-05-11 14:07] opoudjis opened #277 "References section cannot cope with mix of asciibib and normal references"
Occurs when the references is itself embedded. That's because the asciibib subsection is being treated as a subsection of references, and thus a new reference leaf; its siblings end up ignored.

[2020-05-11 14:24] #277 closed

[2020-05-11 14:36] opoudjis opened #278 "Do not use title to classify normative references vs bibliography"
The parsing of titles is fragile, given that flavours vary; moreover, it turns out that bibliography_parse in isodoc, which matches any instance of references embedded in another clasue, is treated as bibliography whatever its title. (Comes up in IHO S-102.)

Instead, bibliographies shall be differentiated in their rendering by their obligation: normative references will be those with obligation=n

[2020-05-12 04:11] ronaldtse opened #279 "`mailto:` error in Standoc"
Here's my experiment with mailto:

[code]

XML:
[code]

It gets rendered like this (HTML):
<img width="820" alt="image" src="https://user-images.githubusercontent.com/11865/81637751-bfd2ad00-9449-11ea-9e3a-f2129e7b949c.png">

* The first one is a Standoc error. <== ping @opoudjis (should have been a real link)
* The second one is correct.
* The third one is a mn2pdf error (reported in https://gith

[2020-05-12 10:22] opoudjis commented on #278
Can't use obligation: in ISO/IEC DIR 2, normative references are informative. Have to add a "normative" attribute to `<references>`.

[2020-05-12 13:21] #278 closed

[2020-05-12 14:52] opoudjis commented on #275
Sample 1:

Can't tell you why, but this is an issue with Asciidoctor, not with Metanorma: the stem block in

[code]

simply is not being recognised as such, no matter if I insert blank lines around it or not. The only stem expression that is recognised within an example is an inline stem expression:

[code]

[2020-05-12 15:04] opoudjis commented on #275
@manuel489 @anermina Don't use `[pseudocode]` but `[.pseudocode]`; the style attribute, `[pseudocode]`, is locked down by Asciidoctor, and tends not to work. With `[.pseudocode]`, both expressions render fine.

[2020-05-13 18:47] manuel489 opened #280 "Malfunction in block comment"
When I wrap a bunch of `include::` functions in a comment block, apparently, these get recognized by Metanorma and shows me an ERROR message:

*Markup hunk:*
[code]

*Log:*
[code]

[test.zip](https://github.com/metanorma/metanorma-standoc/files/4624021/test.zip)

Thanks!

[2020-05-14 00:53] ronaldtse commented on #280
I'm not sure if there is a clean fix for this. The easy workaround is to comment out every include, i.e.:

[code]

[2020-05-18 12:01] opoudjis commented on #269
Welp.... I'm OK with PDF to be left to its own devices. Fine, localising to Word.

[2020-05-18 12:13] #269 closed

[2020-05-18 13:47] opoudjis commented on #273
They are already being detected and reported. I will now abort execution if any are found.

[2020-05-18 13:50] opoudjis commented on #274
So... does that mean this issue is resolved?

[2020-05-18 13:51] CAMOBAP commented on #274
@opoudjis I think yes

[2020-05-18 13:51] #274 closed

[2020-05-18 13:57] #273 closed

[2020-05-18 14:12] opoudjis commented on #279
The first one is an *Asciidoctor* issue. `mailto:` is a macro, which requires brackets to be recognised as such. Emails and http:// URLs are autorecognised by regex; emails prefixed by mailto: are not.

This is not a standoc specific error, and tinkering with the backend macro recognition of Asciidoc is a dangerous activity that does not justify the beyond-marginal benefit here.

[2020-05-18 14:12] #279 closed

[2020-05-20 15:09] manuel489 commented on #280
Yes, you're right. I just thought it prudent to report the issue. (Maybe not a priority matter though.)

[2020-05-24 08:32] opoudjis opened #283 "Permit variant tag for multilingual strings"
From https://github.com/relaton/relaton-data-iho/issues/3

[2020-05-24 08:48] opoudjis commented on #283
Default behaviour will be: print the variant matching the current document language if present, else print the first variant given.

[2020-05-24 08:48] opoudjis commented on #283
Not adding means to data enter it in metanorma-standoc quite yet; only source for it currently is relaton.

[2020-05-24 10:20] opoudjis commented on #258
Asciidoctor is indeed detecting any instances of `[[` as an anchor definition, notwithstanding that the stem macro takes priority in the interpretation of the bracketed text. This is arguably an asciidoctor  bug.

If you insert a space between the stem:[] brackets and the opening bracket, the expression will parse correctly without raising errors:

[code]

Reported issue as https://github.com/asci

[2020-05-24 10:20] #258 closed

[2020-05-24 12:24] opoudjis commented on #225
Need the following test added to all metanorma-* gems, from metanorma-standoc:

It is in metanorma-standoc/spec/asciidoctor-standoc/validate_spec.rb

[code]

The file xref_error.adoc should be copied from metanorma-standoc/spec/assets/xref_error.adoc, which should be added in to the gem. It should always be coped to the spec/assets subdirectory, which should be created if it does not exist.

The t

[2020-05-28 17:06] ronaldtse opened #285 "Metanorma "presentational XML" form"
We wish to create a "presentational XML" form of MN XML, which makes the current super-clean, semantic XML the "semantic XML".

(This aligns with the separation in MathML of semantic MathML vs presentational MathML)

The presentational XML is the "fully-expanded form", meaning that all logic has already been processed in this document.

The goal is to allow a user of presentational MN XML to be ab

[2020-05-28 17:13] ronaldtse commented on #271
https://cloudconvert.com offers 25 images a day, but the easiest is Inkscape (GPL2) which you can install for free (with the conversion in excellent quality).

Sounds good to me.

What does this mean?

[2020-05-30 16:42] opoudjis commented on #275
Issue was that pseudocode macro was adding ` +` to all lines in its content, including to Asciidoctor directives such as `[stem]` and delimiters such as `====`. Prevented in macro.

[2020-05-30 16:45] #275 closed

[2020-05-30 17:53] opoudjis commented on #275
Have also turned off replacements substitutions in blocks within pseudocode, to prevent smart apostrophes (A's => A’s), and other substitutions inappropriate to pseudocode.

[2020-05-31 11:30] opoudjis commented on #194
Not clear what to do here: this seems to be about broken term links from within term sections (incorrect cross-references), but the broken cross-reference is already clearly indicated.

[2020-05-31 11:30] #194 closed

[2020-06-06 14:57] opoudjis opened #287 "Override autonumbering"
There are circumstances when autonumbering of assets needs to be overriden; e.g. numbering out of sequence in updated documents, as in https://portal.ogc.org/public_ogc/directives/directives.php Directive 43:

To address such use cases, all assets will have an optional "number" attribute, giving a required asset number to override autonumbering. Any assets subsequent to that asset will be autonumb

[2020-06-06 15:35] ronaldtse commented on #287
@opoudjis we are in discussion with OGC on this.

[2020-06-06 16:33] opoudjis commented on #285
This ticket is going to take a year to implement as stated, so that's not how it's going to be.

This ticket will do only the following:

* Set up a presentational XML layer, as middleware between Metanorma XML and the outputs
* Populate all captions
* Populate all crossreferences to captions

[2020-06-06 16:40] ronaldtse commented on #285
And the rest will go into other tickets.

[2020-06-08 09:17] opoudjis opened #288 "PlantUML failing in Ubuntu Ruby 2.6"
And only Ruby 2.6

https://github.com/metanorma/metanorma-standoc/runs/749270713?check_suite_focus=true

[2020-06-08 09:39] opoudjis commented on #106
Dealt with in #116

[2020-06-08 09:39] #106 closed

[2020-06-08 09:39] opoudjis commented on #114
Dealt with in #116

[2020-06-08 09:39] #114 closed

[2020-06-08 09:40] #116 closed

[2020-06-08 09:45] CAMOBAP commented on #288
After rerun tests are passed, but the problem still exists, another case are here:
https://github.com/metanorma/metanorma-standoc/runs/748922437?check_suite_focus=true

It's hard to tell exact reproduction rate, Investigation in progress

[2020-06-09 05:55] ronaldtse opened #289 "Referring to a term defined within document with automatic anchors"
In #154 this syntax was implemented:

[code]

In https://github.com/metanorma/metanorma-iso/pull/369 , the automatic term anchors were defined -- but only in ISO.

We should create the term lookup table in standoc, not only ISO.

Then we can do:

[code]

[2020-06-09 23:25] manuel489 opened #290 "Some reference localities render wrongly"
Consider the following examples taken from the [official documentation -- Localities](https://www.metanorma.com/author/topics/document-format/bibliography/#localities):

[code]

Which results in
![Capture](https://user-images.githubusercontent.com/33627611/84210277-477dfc80-aa86-11ea-9337-3010369cd599.PNG)

According to the comments in the code, the first two configurations are correct. But appare

[2020-06-10 04:33] manuel489 opened #291 "Incorrect rendering of multiple term sources"
Example taken from [documentation -- Terms & Definitions](https://www.metanorma.com/author/topics/document-format/section-terms/)

[code]

render as

![fig-term-multiple-sources](https://user-images.githubusercontent.com/33627611/84227215-c6d4f580-aab1-11ea-80f0-7f07da868be7.PNG)

[2020-06-12 20:44] CAMOBAP commented on #288
After ~100 attempts in a row wasn't managed to reproduce it, trying with docker

[2020-06-13 15:44] opoudjis commented on #290
@manuel489 the third one is also correct, surely:

`<<ISO712,section=5, page=8-10: 5:8-10>>`

Means (a) the locality is defined by `section=5, page=8-10`, and (b) the display text is `5:8-10`. The display text you're showing is `5:8-10`. That's right.

[2020-06-13 15:49] opoudjis commented on #290
"Whole of text" was being missed because of typo.

[2020-06-13 15:54] #290 closed

[2020-06-13 15:57] opoudjis commented on #271
If Word looks for an EMF file, that means you can't use Data URI, the Data URI means you're not leaving an EMF file lying around. But OK.

[2020-06-13 17:18] ronaldtse commented on #271
Now the question is whether we can embed both image formats (for the same image) inside Metanorma XML. I think that would solve a number of issues...

[2020-06-14 09:29] CAMOBAP commented on #86
Tests passed successfully if java, not found

[code]

[2020-06-14 12:54] CAMOBAP commented on #288
The problem related to the `curl: (7) Failed to connect to sourceforge.net port 443: Connection timed out` issue

[2020-06-14 13:20] CAMOBAP commented on #288
- [ ] https://github.com/metanorma/plantuml-install/pull/2 need review
 - [x] add retry logic https://github.com/metanorma/metanorma-build-scripts/commit/c3b0cc7845b46c0f4775063726a06124907d61e1

[2020-06-14 17:25] #271 closed

[2020-06-15 00:51] #122 closed

[2020-06-15 01:06] #223 closed

[2020-06-15 02:17] ronaldtse commented on #288
@CAMOBAP I've merged the above, can close?

[2020-06-15 05:31] CAMOBAP commented on #288
Yep

[2020-06-15 05:32] #288 closed

[2020-06-15 11:02] ronaldtse commented on #287
Locality stack as method of overriding auto numbering initial number?

[2020-06-15 13:44] opoudjis commented on #287
... No, the locality stack has nothing to do with asset captions, I don't see how that will help at all. It is not cross-references to assets that need the autonumbering disrupted, it's the cross-reference targets.

[2020-06-15 21:36] ronaldtse opened #292 "(URGENT) datamodel + yaml2text serious crash with NO INFORMATION"
Any crash with datamodel and yaml2text provides ZERO information on where the crash happens, and why it happens.

Any failure MUST display the actual error, not crash and burn the whole process.

[code]

This failure occurs in https://github.com/CalConnect/csd-standard-doc . Just `make clean all`.

[2020-06-15 21:41] ronaldtse commented on #292
I've even commented out all the `[datamodel_*]` blocks, but this crash still happens.

[2020-06-15 21:45] ronaldtse commented on #292
Apparently commenting them by `//` doesn't work.

Just in clause 6 of that document, 3 out of 4 commands crash:

[code]

[2020-06-16 00:10] #287 closed

[2020-06-17 16:31] #292 closed

[2020-06-21 09:30] opoudjis commented on #285
It's unworkable to keep providing only the input XML as a parameter to the isodoc converters, given I will be introducing .presentation.xml as a file suffix; we are already dealing with that issue in XML RFC (https://github.com/metanorma/metanorma-ietf/issues/56). Am making explicit input file and output file parameters for isodoc.

[2020-06-26 14:44] manuel489 opened #295 "Numbered references not rendering properly in subsections"
*This issue is related to https://github.com/metanorma/mn-samples-nist/issues/43*

In bibliography subsections, numbered references don't render as expected if the first title is other than `Bibliography`

For example,
[code]

Renders as

![biblio-nist1](https://user-images.githubusercontent.com/33627611/85868937-fa459e80-b798-11ea-8aa3-835efa39f12f.PNG)

But if we put `Bibliography` as title inst

[2020-06-26 15:08] manuel489 opened #296 "Numbered references not rendering properly in auto-fetch"
*This issue is related to https://github.com/metanorma/mn-samples-nist/issues/43*

Numeric references are not getting numbered (properly) in auto-fetch configuration.

For example,
[code]

Renders as:

*NIST output:*
![biblio-nist](https://user-images.githubusercontent.com/33627611/85871923-151a1200-b79d-11ea-8785-383dd5f3eebd.PNG)

*ISO output:*
![biblio-iso](https://user-images.githubusercontent

[2020-06-27 08:17] ronaldtse opened #297 ""Style Warning" is non-descriptive"
I can't tell where these warnings come from:

[code]

This should show:
[code]

And perhaps some indication of what the context of the failure is.

[2020-06-27 11:24] opoudjis commented on #295
Excessively restrictive condition on which references to renumber: allow annex/references as well as clause/references (and in this instance annex/clause/references).

[2020-06-27 11:28] #295 closed

[2020-06-27 12:37] opoudjis commented on #296
ISO: the ordinal used in bibliographies invalidates use of numeric metanorma identifiers; remove specious distinction between standard and non-standard rendering in Bibliographies. Addresses ISO.

[2020-06-27 12:59] opoudjis commented on #296
Add same metanorma identifier processing code to standards and non-standards for NIST.

[2020-06-27 13:04] #296 closed

[2020-06-27 14:29] manuel489 commented on #295
@opoudjis, I have confirmed that the numbering works for "annex/references" but it stopped working for "annex/bibliography"

[2020-06-27 17:25] manuel489 opened #298 "(URGENT) Compilation Failure when fetching certain NIST references"
*Issue related to https://github.com/metanorma/mn-samples-nist/issues/43*
Compilation fails when trying to fetch either of these references:

[code]

Part of the compilation message is:

[code]

Sample file:
[nist-test.zip](https://github.com/metanorma/metanorma-nist/files/4840977/nist-test.zip)

[2020-06-28 00:36] ronaldtse commented on #298
Now tracked at https://github.com/relaton/relaton-bib/issues/26

[2020-06-29 11:07] opoudjis commented on #285
Changes in Markup in the Presentation XML layer (for @Intelligent2013)

* STS and RFC will still be processed from the source XML layer, so the changes being made in Presentation XML are only for PDF (and HTML, DOC)
* There shall be no autonumbering in the Presentation XML layer: all captions and headings will contain their autonumber
* All `xref` tags will be populated with the required autonumbe

[2020-06-29 15:07] manuel489 commented on #298
Solved in https://github.com/relaton/relaton-bib/issues/26. Closing.

[2020-06-29 15:07] #298 closed

[2020-07-02 03:14] opoudjis commented on #225
@w00lf Taking this task off you

File test needs to be run in metanorma. This leads to unfortunate circular dependency for testing purposes, which makes major releases of metanorma a car crash (as I've just found); but that can't be helped.

[2020-07-02 03:59] ronaldtse commented on #255
When we deal with the term grammar refactor, we also need to consider MN AsciiDoc syntaxes that channel semantics to the underlying grammar.

For example, a synonym should be `synonym:[...]`, etc.

I guess a meta-programming approach by generating code via the grammar is possible, but not sure if it's feasible.

[2020-07-02 11:32] opoudjis commented on #75
* Add type of clause, capture heading type as type of clause, impose enum

Done in https://github.com/metanorma/isodoc/issues/171

[2020-07-02 15:31] Intelligent2013 commented on #285
@opoudjis I'm trying to generate a presentation XMLs, but looks like I do something wrong. For example, for `mn-samples-iso` I run:
[code]
And in `documents` folder I see `....presentation.xml` but they are identical to `...xml`. For example:
rice-en.final.xml - 211161 bytes
rice-en.final.presentation.xml  - 211161 bytes.

[code]

What did I do wrong and how can I obtain a presentation XMLs?

[2020-07-02 15:40] opoudjis commented on #285
What you are doing is wrong is trying to do this two weeks too early. This is extremely difficult and painful refactoring of the entire stack of Metanorma, and I am working as fast as I can (50% overtime).

1. I have published so that moving distinct content into the presentation XML is possible. I am still working on *actually* moving distinct content into the presentation XML.
2. When I am ready

[2020-07-03 05:40] manuel489 opened #300 "Inline latexmath renders as block math expression"
`latexmath:[{expression}]` renders as block math instead of inline math.

For example,
[code]

renders as

*Metanorma:*
![capture-metanorma](https://user-images.githubusercontent.com/33627611/86435331-bccb9e80-bccd-11ea-9d79-2b0c774932eb.PNG)

*Asciidoctor:*
![capture-asciidoc](https://user-images.githubusercontent.com/33627611/86435343-c1905280-bccd-11ea-8d59-427a064ebc3b.PNG)

[2020-07-03 05:53] ronaldtse commented on #300
Thanks @manuel489 for reporting!

[2020-07-03 16:37] ronaldtse opened #301 "Intelligently matching `term:[phrase]` to other phrase forms"
e.g. in https://github.com/metanorma/stepmod-utils/issues/23

The directive of `term:[individual products]` is provided but the actual term is "individual product".

By using word stemmers we could potentially match the words used in the definitions to the defined terms of the document.

* https://github.com/aurelian/ruby-stemmer (ruby-c)
* https://github.com/ealdent/uea-stemmer (pure Ruby)

For e

[2020-07-03 16:38] ronaldtse commented on #301
https://github.com/yohasebe/lemmatizer/ may also be an option but it requires a dictionary.

[2020-07-09 11:45] opoudjis commented on #300
`latexmlmath` is injecting `display = "block"` into all the MathML it generates. Will override.

[2020-07-09 11:52] #300 closed

[2020-07-11 12:52] #285 closed

[2020-07-21 17:00] ronaldtse opened #305 "Do not allow using invalid XML anchors"
Anchors, references and bib refs: they cannot contain colons -- because they are written to XML. XML does not support colon, spaces, and phrases that start with numbers in `id`.

Metanorma should display errors when such anchors are used.

From: https://github.com/metanorma/iso-10303/pull/71

[2020-07-22 10:45] Intelligent2013 opened #306 "CSA: Differences between Metanorma "presentational XML" and "sources PDF/DOC" forms"
- CSA
Source PDF form (https://github.com/metanorma/mn-native-pdf/issues/46, https://github.com/metanorma/mn-native-pdf/files/3977293/Information.Security.Management.through.Reflexive.Security.pdf, https://github.com/metanorma/mn-native-pdf/files/3977294/Six.Pillars.of.DevsecOps-Branded.pdf) doesn't have a section number:
![изображение](https://user-images.githubusercontent.com/5559926/88167095-f7

[2020-07-22 13:27] ronaldtse commented on #306
@Intelligent2013 thanks for raising this. The numbers are intended here, so it's fine 👍  Maybe some spacing between the number and section title is needed.

[2020-07-22 15:13] opoudjis commented on #306
OK. This issue is going to include all the discrepancies between pres_xml and master output that @Intelligent2013 identifies, so this first issue is not a concern, but others are.

Once this issue is resolved, the pres_xml branch (to date) will me merged into master. I anticipate that will be the release after next, which will be a major version. The next release will be Friday, and will include t

[2020-07-22 16:23] Intelligent2013 commented on #306
Fixed:

![изображение](https://user-images.githubusercontent.com/5559926/88201929-c901a680-cc50-11ea-8385-427c4b68d16f.png)

[2020-07-22 16:29] Intelligent2013 commented on #306
- GB
Presentation XML contains char hex 3000 between section number and section title instead of `<tab/>`:

rice.gb.en.presentation.xml:
[code]

![изображение](https://user-images.githubusercontent.com/5559926/88202120-13832300-cc51-11ea-97a6-fdd5ee9ff094.png)

It shows ok in resulted PDF:
![изображение](https://user-images.githubusercontent.com/5559926/88200896-72479d00-cc4f-11ea-9170-986f1e5afd0

[2020-07-22 18:35] Intelligent2013 commented on #306
- IEC
  - Regarding IEC styling (Foreword) (https://github.com/metanorma/mn-native-pdf/issues/111) table in preface section doesn't have a title:
![изображение](https://user-images.githubusercontent.com/5559926/88208433-dff8c680-cc59-11ea-870b-ba0b9b9730c5.png)

but presentation XML (iec-rice.presentation.xml) contains 'Table 1':
[code]

and in resulted PDF it shows as:
![изображение](https://user

[2020-07-23 04:33] opoudjis commented on #306
GB:

You are right, and that's an oversight.

This raises the issue of how to deal with tab programmatically, and I think we should both make changes. So:

* U+3000 is the Chinese script equivalent of nonbreaking space and tab.
* That means that if the document is in Chinese, tab should be mapped to U+3000, regardless of flavour. (Note: that is a change I have to make as well in rendering.)
* The

[2020-07-23 04:34] opoudjis commented on #306
I'm going to insert numbers in your comments, to uniquely identify each issue.

[2020-07-23 09:58] Intelligent2013 commented on #306
- IHO
-  - **IHO 1**: Tables with attribute `unnumbered="true"` has `<name>Table </name>`:
Example s5a.presentation.xml:
[code]
-  - **IHO 2**: when I processed non-presentation xml to produce PDF, I've put title:
      - 'Annex' for `annex` with attribute `obligation="normative"` and
      - 'Appendix' for `annex` with attribute `obligation="informative"`
and it showed as (example for s102.xml):

[2020-07-23 11:39] Intelligent2013 commented on #306
- ISO: nested figures titles have 'dash':
Example: rice-en.final.presentation.xml
[code]
Resulted PDF for presentation XML:
![изображение](https://user-images.githubusercontent.com/5559926/88282120-9b206e80-ccf1-11ea-9f3b-fab0ffa94cf9.png)

Resulted PDF for non-presentation XML:
![изображение](https://user-images.githubusercontent.com/5559926/88282198-bb502d80-ccf1-11ea-88e6-e3a271aeffbc.png)

I d

[2020-07-23 12:55] Intelligent2013 commented on #306
- ITU:
  - **ITU 1**: Tables with attribute `unnumbered="true"` has a name 'Table ':
[code]
  - **ITU 2**: Single `termnote`'s (i.e. single in the current section) doesn't have a `name`, but multiple `termnote`'s have a number only :
  Example G.650.1-201803.presentation.xml:
[code]
  - **ITU 3**: a.presentation.xml - sections 'Scope', 'References', 'Definitions', 'Abbreviations and acronyms' don'

[2020-07-23 14:58] ronaldtse commented on #306
@Intelligent2013 it might be better to open a new issue per flavor for tracking 😉

[2020-07-23 15:17] Intelligent2013 opened #307 "ITU: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
- **1**: Tables with attribute `unnumbered="true"` has a name 'Table ':
[code]
- **2**: Single `termnote`'s (i.e. single in the current section) doesn't have a `name`, but multiple `termnote`'s have a number only :
  Example G.650.1-201803.presentation.xml:
[code]
- **3**: a.presentation.xml - sections 'Scope', 'References', 'Definitions', 'Abbreviations and acronyms' don't have section number in

[2020-07-23 15:18] Intelligent2013 opened #308 "ISO: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
Nested figures titles have 'dash':
Example: rice-en.final.presentation.xml
[code]
Resulted PDF for presentation XML:
![изображение](https://user-images.githubusercontent.com/5559926/88282120-9b206e80-ccf1-11ea-9f3b-fab0ffa94cf9.png)

Resulted PDF for non-presentation XML:
![изображение](https://user-images.githubusercontent.com/5559926/88282198-bb502d80-ccf1-11ea-88e6-e3a271aeffbc.png)

I don't su

[2020-07-23 15:20] Intelligent2013 opened #309 "IHO: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
- **1**: Tables with attribute `unnumbered="true"` has `<name>Table </name>`:
Example s5a.presentation.xml:
[code]
-  **2**: when I processed non-presentation xml to produce PDF, I've put a titles:
      - 'Annex' for `annex` with attribute `obligation="normative"` and
      - 'Appendix' for `annex` with attribute `obligation="informative"`
and it showed as (example for s102.xml):
![изображение](h

[2020-07-23 15:23] Intelligent2013 opened #310 "IEC: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
- **1**: Regarding IEC styling (Foreword) (https://github.com/metanorma/mn-native-pdf/issues/111) table in preface section doesn't have a title:
![изображение](https://user-images.githubusercontent.com/5559926/88208433-dff8c680-cc59-11ea-870b-ba0b9b9730c5.png)

but presentation XML (iec-rice.presentation.xml) contains 'Table 1':
[code]

and in resulted PDF it shows as:
![изображение](https://user-

[2020-07-23 15:25] Intelligent2013 opened #311 "GB: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
Presentation XML contains char hex 3000 between section number and section title instead of `<tab/>`:

rice.gb.en.presentation.xml:
[code]

![изображение](https://user-images.githubusercontent.com/5559926/88202120-13832300-cc51-11ea-97a6-fdd5ee9ff094.png)

It shows ok in resulted PDF:
![изображение](https://user-images.githubusercontent.com/5559926/88200896-72479d00-cc4f-11ea-9170-986f1e5afd03.png

[2020-07-23 15:26] Intelligent2013 commented on #311
From @opoudjis:

You are right, and that's an oversight.

This raises the issue of how to deal with tab programmatically, and I think we should both make changes. So:

* U+3000 is the Chinese script equivalent of nonbreaking space and tab.
* That means that if the document is in Chinese, tab should be mapped to U+3000, regardless of flavour. (Note: that is a change I have to make as well in render

[2020-07-23 15:28] Intelligent2013 commented on #306
@ronaldtse Done. Close this ticket.

[2020-07-23 15:28] #306 closed

[2020-07-23 17:08] Intelligent2013 opened #312 "NIST.SP: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
- **1.** Tables marked `unnumbered="true"` has a name `<name>Table </name>`.
Example NIST.SP.800-116r1.presentation.xml:
[code]

- **2.** References section in `Appendix F` has a title `<title>F.</title>`.
Example NIST.SP.800-116r1.presentation.xml:
[code]
Looks like the references's title is superfluous here.

[2020-07-23 18:01] Intelligent2013 opened #313 "OGC: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
- **1.** Tables with attribute `unnumbered="true"` has a name 'Table ':
Example 15-120r5.presentation.xml:
[code]
- **2.** In some documents (for example 17-069.presentation.xml) the `preface/abstract/title` doesn't contain 'Abstract' string:
[code]
**3**. ... And preface sections have non-sequental numbering:
[code]

I.e. :
[code]

- **4.** In the xml 17-069.presentation.xml  there is non-correct

[2020-07-23 19:12] Intelligent2013 opened #314 "UN: differences between Metanorma "presentational XML" and "sources PDF/DOC" form"
- **1.** Tables with attribute `unnumbered="true"` have name 'Table ':
Example ECE_TRADE_C_CEFACT_2019_09.presentation.xml:
[code]

- **2.** In the xml ECE_TRADE_C_CEFACT_2018_6E.presentation.xml there are `clause/title` with id in brackets instead of normal text. For example `<title>[_e54f3003-7ad4-4c42-b3e3-a1203a3808f9].</title>`:
[code]

[2020-07-24 17:33] Intelligent2013 commented on #312
- **3.** in PDF we use special page numbers prefix for appendixes:
In Table of Contents:
![изображение](https://user-images.githubusercontent.com/5559926/88418185-d3a47300-cdeb-11ea-8628-4ff0399a1fbd.png)
and in footers:
![изображение](https://user-images.githubusercontent.com/5559926/88418137-c38c9380-cdeb-11ea-887f-7a3a1ca1ea3d.png)

Is there a possibility to include 'Appendix' title and number/

[2020-07-27 12:50] opoudjis commented on #314
"1". Do not add caption to tables if unnumbered and no caption already in place.

[2020-07-27 12:55] opoudjis commented on #307
"1": fixed in https://github.com/metanorma/metanorma-standoc/issues/314

[2020-07-27 12:55] opoudjis commented on #309
"1": Fixed in https://github.com/metanorma/metanorma-standoc/issues/314

[2020-07-27 12:55] opoudjis commented on #313
"1": Fixed in https://github.com/metanorma/metanorma-standoc/issues/314

[2020-07-27 12:56] opoudjis commented on #312
"1": Fixed in https://github.com/metanorma/metanorma-standoc/issues/314

[2020-07-27 13:02] opoudjis commented on #314
"2". The paragraphs are  not being numbered when they are converted into clauses; the fact that the depth of nesting changes is presumably at fault.

[2020-07-27 13:32] #314 closed

[2020-07-27 13:33] opoudjis commented on #308
No, the dash shouldn't be there

[2020-07-27 13:47] #308 closed

[2020-07-27 14:13] opoudjis commented on #307
"2": termnotes were not being labelled, I was using an incorrect code shortcut.

[2020-07-27 14:19] Intelligent2013 commented on #314
Sorry for misunderstanding, but what does mean 'no caption already in place'?
In presentation XSLT I display table caption from XML element `table/name`. I can process an attribute `unnumbered` in xslt and don't display table caption at all when `unnumbered="true"`. But should I also process text content of `table/name` additionally in case of `unnumbered="true"`?

For clarification of my question

[2020-07-27 14:38] #307 closed

[2020-07-27 15:08] opoudjis commented on #309
"2": I cannot replicate this:

s102.presentation.xml

[code]

Am sending you latest.

[2020-07-27 15:20] opoudjis commented on #309
Whatever the issue had been, it's now fixed.

[2020-07-27 15:20] #309 closed

[2020-07-28 01:55] manuel489 opened #315 "Malformed rendering on hyperlink markup for complex URLs"
According to AsciiDoc [Official Documentation](https://asciidoctor.org/docs/user-manual/#complex-urls), `++` is used on both sides of a hyperlink markup to handle complex URLs.  However, Metanorma generates a malformed rendering in this case.

For example:
[code]

*AsciiDoc*:
![asciidoc-link](https://user-images.githubusercontent.com/33627611/88610062-aeb23900-d053-11ea-9362-86ec8a2c845a.PNG)

*Me

[2020-07-28 09:34] opoudjis commented on #313
"2". Has gone away, presumably because of the updates to asciidoc branch of code since I generated these.

[2020-07-28 09:43] opoudjis commented on #313
"3". The keywords are not being injected in the right place: bug, had mistyped "keywords" as "keyword".

[2020-07-28 09:59] opoudjis commented on #313
"4". Points to an underlying bug: a term in a terms section but not under a term is NOT a termnote, but a normal note. Fixing in metanorma-standoc

[2020-07-28 10:15] #313 closed

[2020-07-28 10:29] opoudjis commented on #312
"2": Single reference sections in references have their titles skipped for rendering; they need to also be skipped for auto-numbering.

[2020-07-28 10:39] opoudjis commented on #311
@Intelligent2013 Am I leaving this ticket open for you? I am going to use `<tab/>` consistently for the Chinese U+3000 character.

[2020-07-28 11:19] opoudjis commented on #312
"3". Are you going to want this everywhere, or just NIST? Because I have inserted the crossreference text everywhere, I'm not clear as to why you need it, but yes, I can inject it in a separate "xref" attribute of the title (since that is what is used in crossreferences).

[2020-07-28 11:24] opoudjis commented on #312
It's for footer generation.

[2020-07-28 11:32] #312 closed

[2020-07-29 11:26] Intelligent2013 commented on #311
Thanks.

[2020-07-29 11:26] #311 closed

[2020-07-29 12:27] opoudjis opened #316 "PlantUML breaks Ubuntu"
GitHub Actions broken for Ubuntu for metanorma-standoc and metanorma-iso:

* https://github.com/metanorma/metanorma-iso/actions/runs/183024330
* https://github.com/metanorma/metanorma-standoc/actions/runs/185534350

[2020-07-29 12:32] opoudjis commented on #310
"1". There is no inherent reason to skip table numbering in the foreword; I am inserting "unnumbered" attribute in the source Asciidoc.

[2020-07-29 12:36] opoudjis commented on #310
"2". Overriden default, removed one linebreak.

[2020-07-29 12:43] opoudjis commented on #310
"3". Had never implemented this, but luckily have implemented it elsewhere: introducing into YAML.

[2020-07-29 12:54] #310 closed

[2020-07-29 21:42] skalee opened #317 "Extracting LaTeXML to a separate gem"
I need `latexmlmath` for https://github.com/geolexica/geolexica-server/issues/108. I am going to extract https://github.com/metanorma/metanorma-standoc/blob/2fc3253/lib/metanorma/standoc/latexml_requirement.rb to a separate gem, then add the new gem as this project's dependency.

Most likely I will also enable `--preload=amssymb` option in program calls, that is [here](https://github.com/metanorma

[2020-07-30 09:41] skalee commented on #317
The other option would be to implement a multi-backend (external tools like LaTeXML, MathJax, Pandoc and some Ruby gems like AsciiMath) converter which translates between MathML, LaTeX Math, and AsciiMath back and forth with consistent API. But I don't think that going that far is really needed. Especially that some of these require additional configuration, hence it won't be that straightforward

[2020-07-30 10:26] ronaldtse commented on #317
@skalee ideally there is a single backend or a composite backend that supports conversion between MathML, LaTeX math and Asciimath. There is also a need to support MathType as output and input. The basis of MathML does not change with configuration, so it should be straightforward (not necessarily easy) -- the difficult part is the LaTeX, since LaTeXML is based on Perl.

[2020-07-30 10:30] ronaldtse commented on #317
Maybe we should consider porting http://math.etsu.edu/LaTeXMathML/LaTeXMathML.js to Ruby as a gem. Perl as a dependency is quite heavy for us.

[2020-07-30 11:09] skalee commented on #317
We already have separate libs for some conversions, for instance https://github.com/metanorma/mathml2asciimath. This is why I suggested implementing only a minimalistic gem just for LaTeX Math => MathML.

If you mean adding even more formats, then I agree that a generic converter may be a better option. But on the other hand, multi-format converter is a considerably larger project.

Supporting `n`

[2020-07-30 15:06] CAMOBAP commented on #316
Fixed

[2020-07-30 15:06] #316 closed

[2020-07-30 16:47] ronaldtse commented on #317
What kind of configuration are you thinking of?

I'm more worried about the ongoing maintenance effort we need to keep a Perl stack...

[2020-07-31 11:28] skalee commented on #317
In case of LaTeXML, `--preload=amsmath --preload=amssymb` works for us and I presume will suit most needs, but I suppose some folks will have different needs. Also I won't be surprised if users will insist on things like binpath. Similarly for Pandoc backend. And in AsciiMath gem, one can have custom symbol tables, for instance.

Converters are usually configurable to some degree.

[2020-07-31 19:59] ronaldtse commented on #317
@skalee I'm going to try getting this setup: https://github.com/metanorma/latexmath/issues/6 Fingers crossed...

[2020-08-06 09:13] ronaldtse commented on #317
@manzhikov is going to take care of metanorma/latexmath#6 , a pure Ruby gem for parsing LaTeX math. This will obsolete the Perl toolchain we currently need. Will update this ticket once done.

[2020-08-09 20:00] skalee commented on #317
Sounds good. I'll implement simple helpers in Jekyll-Geolexica for now. Perl stack won't hurt in GHA.

[2020-08-11 14:02] ronaldtse commented on #319
From @andrew2net

@opoudjis this means Metanorma can support BibTeX `.bib` files in Relaton directly.

[2020-08-13 13:10] opoudjis opened #320 "Suppress warning issued on AsciiBib reference if id is anchor and not attribute"
AsciiBib of form

[code]

is legal; but gem is complaining because `id` is not provided as an explicit parameter

[2020-08-13 13:13] opoudjis commented on #320
Do not accept implicit ID assigned without an overt identifier to the clause. (We expect it to start with "_".)

[2020-08-13 13:23] #320 closed

[2020-08-16 17:18] ronaldtse opened #321 "Implement json2text"
Similar to #195 , we want a command for `json2text`. It should use Liquid templating, and accept Liquid flow control.

[code]

Given a JSON file like this:

`foobar.json`
[code]

Gets rendered into a form that is produced using this adoc:

[code]

[2020-08-16 17:37] ronaldtse opened #322 "Modify `yaml2text` to use Liquid syntax"
The existing syntax is proprietary and lacks a number of benefits that can be inherited from Liquid, including the control flow (liquid contains many helper functions for control and context of flow), security (liquid does not allow running arbitrary ruby) and error reporting (current implementation very difficult to debug) benefits.

We should either migrate our implementation to Liquid, or allow

[2020-08-18 18:15] manuel489 commented on #228
This issue is already solved.

[2020-08-18 18:30] manuel489 opened #323 "Support newline in asciimath stem block"
According to this thread https://github.com/asciidoctor/asciidoctor/issues/2497, a newline in stem block can be introduced using `\`. Nonetheless, Metanorma doesn't seem to support this approach.

[code]

Normal AsciiDoc:
![cap1](https://user-images.githubusercontent.com/33627611/90551332-2826de00-e15f-11ea-9b27-0c85bffc7ad5.PNG)

Metanorma (HTML):
![cap2](https://user-images.githubusercontent.com

[2020-08-31 14:39] ronaldtse opened #324 "Implement xml2text"
xml2text should be based on XSLT rendering. Should we allow non-XSLT?

e.g.
[code]

[2020-08-31 14:42] ronaldtse commented on #324
@Intelligent2013 would you be able to help fix the above example XSLT to make the demonstration work? Thanks!

[2020-08-31 16:33] Intelligent2013 commented on #324
@ronaldtse Updated xslt:
[code]

[2020-09-01 15:11] opoudjis commented on #323
Duplicate of https://github.com/metanorma/metanorma-standoc/issues/111, and this is difficult.

[2020-09-01 15:11] opoudjis commented on #111
As reported by @manuel489 again:

According to this thread https://github.com/asciidoctor/asciidoctor/issues/2497, a newline in stem block can be introduced using `\`. Nonetheless, Metanorma doesn't seem to support this approach.

[code]

Normal AsciiDoc:
![cap1](https://user-images.githubusercontent.com/33627611/90551332-2826de00-e15f-11ea-9b27-0c85bffc7ad5.PNG)

Metanorma (HTML):
![cap2](https:/

[2020-09-01 15:11] #323 closed

[2020-09-01 15:12] opoudjis opened #325 "Add current metanorma version and XML type to Metanorma XML"

[2020-09-02 15:55] #252 closed

[2020-09-02 16:25] opoudjis commented on #253
If the URN (whatever it is) is already in the reference as generated by relaton, then there is no need for it to also be present in eref, right? the STS transform can simply look up the reference that the eref is linking to, retrieve the URN, and use that as its std-id. Inserting it in the eref of Metanorma XML would be a really bad thing to do, and it is clearly unnecessary.

[2020-09-02 16:26] opoudjis commented on #253
This issue is on hold awaiting relaton/relaton-iso#85

[2020-09-02 23:31] opoudjis commented on #280
I mean, this is native Asciidoctor behaviour, of having includes override block comments. Preprocessing in metanorma is something I would really want to avoid, it introduces a lot of vulnerability for marginal benefit. I would suggest closing this; @ronaldtse ?

[2020-09-03 01:44] ronaldtse commented on #280
Agree. Let's mark this as wont fix for now.

[2020-09-04 10:31] #280 closed

[2020-09-07 15:04] opoudjis commented on #259
The syntax shall not pointlessly override what is already in place in mn-samples-iso, which works fine. So:

* this functionality is specific to ISO for now
* this functionality is triggered on clauses with a "change=modify" or "change=add" attribute
* clauses must have titles in Asciidoctor, but they can be overridden by a title attribute (if you must), and by the locality
* the proposal to encod

[2020-09-07 16:23] ronaldtse commented on #259
Looks good to me.

[2020-09-09 10:30] opoudjis commented on #259
Further modification:

* The location of a change within a numbered section is given as an XPath, as shown above with "./source"; but that is named as a distinct `path` attribute on the initial clause; attributes should not be given separately on the blockquote.
* In case the change spans multiple elements within the nominated location, path shall be taken as the starting element of the text to be

[2020-09-09 15:18] opoudjis commented on #259
Remaining work is to integrate this processing into ISO

[2020-09-10 11:03] opoudjis commented on #259
And I see that this will force a PDF update. This work needs to be pulled into a feature branch.

[2020-09-10 11:15] opoudjis commented on #259
We unfortunately need to accommodate descriptive text after the amendment. I will convert the amend block to normal text and blockquote for the replacement text in PresentationXML, to preempt PDF development.

[2020-09-10 14:38] opoudjis opened #330 "Unicode symbols in Asciimath"
From https://github.com/metanorma/bipm-si-brochure/pull/8:

For example, consider this formula:

![o-cap](https://user-images.githubusercontent.com/33627611/92480674-3f337b80-f1b3-11ea-9688-0288c04dce98.PNG)

I typeset it in several ways:

[code]

it renders:

Doc output:
![doc-cap](https://user-images.githubusercontent.com/33627611/92480811-69853900-f1b3-11ea-94de-7db2e7578c9a.PNG)

Html output:

[2020-09-11 09:37] opoudjis opened #331 "Integrate latexmath gem"

[2020-09-11 10:24] ronaldtse commented on #331
This depends on https://github.com/plurimath/latexmath/issues/9

This allows us to remove the Perl dependencies. We will need to update install formulas after this.

FYI @CAMOBAP

[2020-09-11 10:36] opoudjis commented on #259
Change `replacement` to `newcontent`

[2020-09-11 10:51] opoudjis commented on #259
Inserted xpaths in the modifications in mn-sample-iso amendements.

[2020-09-11 11:06] #259 closed

[2020-09-11 11:45] opoudjis commented on #331
Disabling test of malformed LaTeX: as far as I can tell, the latexmath gem catches all errors, and returns an empty mathml expression.

[2020-09-13 02:42] ronaldtse opened #332 "Remove Perl dependency due to usage of Ruby latexmath gem"
We now use the latexmath gem so we can deprecate all Perl dependencies.

Let's use this ticket to track removal of the Perl dependencies in all deliverables and GitHub Actions:
- packed-mn
- homebrew-metanorma
- chocolatey-metanorma
- snap-metanorma
- all sample repositories (GitHub Actions)

[2020-09-14 01:45] ronaldtse commented on #325
Also need to define the type of MN XML in the header: an external processor that can only read presentation XML will have undefined behavior on reading semantic XML.

Is this an additional namespace or an attribute?

[2020-09-14 14:06] opoudjis commented on #330
No, `""^199 "Hg"^+` does not render properly in a stem block either. (And with it involving an exponent of an empty string, I'm not surprised it doesn't)

[2020-09-14 16:18] manuel489 commented on #330
Oh yes, you are right @opoudjis . I was actually referring to the Unicode symbols cases (`stem:["&#x200c;"^199 "Hg"^+]`,  `stem:["&nbsp;"^199 "Hg"^+]`) . These are the ones that work in stem blocks.

[2020-09-14 16:22] opoudjis commented on #330
Inline stem and block stem are processing escapes differently—presumably because stem blocks are passthrough blocks, whereas stem macros are not passthrough. Changing &amp;# to &# peremptorily in AsciiMath. Such changes were already necessary for processing MathML embedded in Asciidoctor. This is not great, because we're randomly changing ampersands, but I don't see that we have much choice.

[2020-09-14 16:26] opoudjis commented on #330
&nbsp; is not working; I'm reluctant to change all ampersands in inline AsciiMath expressions. But &# is now processed correctly.

[2020-09-14 16:54] #330 closed

[2020-09-15 01:22] ronaldtse commented on #332
Actually we may not want to do this -- we may still use LaTeXML to generate Metanorma XML.

[2020-09-16 17:12] manuel489 opened #335 "`phi` and `varphi` interchanged"
The math symbols `phi` and `varphi` are interchanged in Metanorma

[code]

*Asciidoc output:*
![asciidoc](https://user-images.githubusercontent.com/33627611/93369956-1d26a280-f81e-11ea-87d3-57cc440c61a8.PNG)

*Metanorma output:*
![metanorma](https://user-images.githubusercontent.com/33627611/93369949-1b5cdf00-f81e-11ea-85ae-7db0a81f1703.PNG)

[2020-09-17 01:44] manuel489 opened #336 "Allow simple markup (" ") for inserting white space"
Currently, I've being inserting white spaces in math expressions by using: `"&#xA0;"`
However, normal AsciiDoc permits `" "` for that purpose, but not Metanorma apparently.

Example:
[code]

Output:

![Capture](https://user-images.githubusercontent.com/33627611/93409793-aca37400-f865-11ea-983c-e362f0c66511.PNG)

(Notice the "for" text.)

[2020-09-17 11:31] opoudjis commented on #325
Attribute: `<{root element} type="presentation|semantic" version="metanorma flavour version">`

[2020-09-17 13:41] #325 closed

[2020-09-17 15:22] opoudjis commented on #335
Well this is nasty.

Metanorma and AsciiMath treat phi (curly phi) as U+03C6 and phi symbol (stroke phi) as U+03D5. Asciidoctor and MathJax swap them.

This is an old issue:

* TeX made phi be stroke phi and varphi be curly phi
* Unicode did the same until 1998, and then reversed them
* Metanorma is doing whatever the input method is telling it to do: all *it* sees is Unicode character values
* As

[2020-09-17 16:41] #331 closed

[2020-09-18 08:07] CAMOBAP commented on #332
@ronaldtse yep we still use `latexmlmath` tool which depends on `perl` https://github.com/metanorma/metanorma-standoc/blob/master/lib/metanorma/standoc/latexml_requirement.rb#L32-L36

Should we still keep this ticket?

[2020-09-18 09:30] ronaldtse commented on #332
@CAMOBAP we no longer use latexmathml . So we should remove all code related to latexmathml.

However, we may include latex compilation (tex2mn) that requires latexml, which is the same “requirement”...

[2020-09-18 09:38] ronaldtse commented on #332
For better Perl integration I wonder if this works: https://github.com/zephirworks/ruby-perl

[2020-09-19 08:32] opoudjis commented on #336
Recall that Asciidoctor is rendering Asciimath direct, whereas we are always converting it to MathML, and thence to Word's OOXML.

Investigating.

[2020-09-19 08:57] opoudjis commented on #336
Spaces are being preserved in MathML: `<mtext> for </mtext>`. Because I have intervened in preprocessing for Word, converting spaces to nbsp, Word rendering respects those spaces. But MathJax in HTML does not. So I need to the same preprocessing for HTML rendering; I will just do it at the source level.

[2020-09-19 09:01] opoudjis commented on #335
Will be included in asciimath 2.0.2, already in asciimath github.

[2020-09-19 09:01] #335 closed

[2020-09-19 10:16] #336 closed

[2020-09-20 15:19] opoudjis commented on #317
latexmath has now been incorporated into metanorma, and the Perl stack removed as a dependency

[2020-09-20 20:56] CAMOBAP commented on #332
Done, metanorma-spap will be committed in the scope of https://github.com/metanorma/metanorma-snap/issues/9

[2020-09-20 20:56] #332 closed

[2020-09-21 08:39] ronaldtse opened #342 "Method to cite multiple, or a range of, anchor locations"
With the introduction of `droploc` #334 I realize we are missing some familiar functionality from our other gem [asciidoctor-bibliography](https://github.com/riboseinc/asciidoctor-bibliography/)

In ISO documents it is often necessary to refer to multiple clauses at once.

(This is also related to https://github.com/metanorma/metanorma-iso/issues/50)

We can do a better semantic reference for thin

[2020-09-21 19:09] manuel489 opened #344 "Date format support in yaml2text template"
When compiling date format values (e.g. `date: 1889-09-28`) in yaml2text blocks, no rendering is shown. They'd need to be enclosed in quotes (`date: '1889-09-28'`) in order to work. Could it be a support issue?

[2020-09-22 04:52] ronaldtse commented on #344
Thanks @manuel489 , I wonder if this is a type casting issue - because we will need to support all YAML types in Liquid... ping @w00lf

[2020-09-22 12:40] w00lf commented on #344
@ronaldtse the issue was because of Yaml#safe_load, by default it does not allow whitelisted classes, fixed in #345

[2020-09-22 18:35] manuel489 opened #346 "Several malformed characters in yaml2text output"
When compiling some French text with yaml2text, several malformed characters appear.

For exmple:
[code]

Output:

![Capture-fr](https://user-images.githubusercontent.com/33627611/93922932-a50a2200-fce0-11ea-8b7f-fcd8d6800ec8.PNG)

Ping @ronaldtse , @w00lf

Thanks!

[2020-09-23 01:44] ronaldtse opened #347 "(URGENT) yaml2text nesting fails"
In https://github.com/metanorma/bipm-si-brochure/pull/22 the file:
https://github.com/metanorma/bipm-si-brochure/pull/22/files#diff-8b5e7ad97ed1c17d3424c897e975f844

Uses nesting to define yaml2text within yaml2text. i.e.:

[code]

The output (if we switch to use `:mn-document-class: iso`) becomes:
<img width="640" alt="Screen Shot 2020-09-23 at 9 43 20 AM" src="https://user-images.githubuserconte

[2020-09-23 13:41] manuel489 commented on #344
Issue fixed, confirmed. Thanks @w00lf.  Closing.

[2020-09-23 13:41] #344 closed

[2020-09-23 14:11] opoudjis commented on #346
This is almost certainly files not being opened in UTF-8 but in ASCII. Please apply UTF-8 encoding explicitly in file access.

[2020-09-23 15:02] w00lf commented on #347
yaml2text and json2text support any delimiters supplied after the block definition. The problem here is implementation of nested yaml2text contexts. The snippet you put in the description is quite complex to implement, we cant render nested yaml2text blocks until we render root level block, because it consists of filenames and we cannot render nested blocks without root context. I tried to impleme

[2020-09-23 15:37] w00lf commented on #346
@opoudjis added in #348

[2020-09-24 15:59] opoudjis opened #349 "Introduce ol/@start"
Required for https://github.com/metanorma/metanorma-bipm/issues/1

[2020-09-24 16:48] manuel489 commented on #346
Problem solved. Thank you @w00lf  and @opoudjis!  Closing.

[2020-09-24 16:48] #346 closed

[2020-09-25 12:12] opoudjis opened #350 "Implement ol/@start"
I have introduced `ol/@start` to Metanorma in https://github.com/metanorma/metanorma-standoc/issues/349. You will need to support it in all flavours, not just BIPM.

[2020-09-25 12:46] opoudjis commented on #349
Not working in ISO normal HTML, because the list counters are overridden in CSS: https://github.com/metanorma/metanorma-iso/issues/319

Not working in DOC

[2020-09-25 12:49] opoudjis commented on #349
ISO: will use inline CSS, per https://stackoverflow.com/a/53087400

[2020-09-25 13:22] opoudjis commented on #349
No, there are a dozen counters already in place in ISO HTML CSS to get the brackets happening after list counters, and they would have to be hardcoded for in the ISO flavour.

As for DOC, it implements different starting values by creating an entirely new mso-list style in each instance, and setting the mso-level-start-at value for that list. This would require massive refactoring of the treatment

[2020-09-25 13:48] opoudjis commented on #349
We will not proceed with this at this time. Changing source markup instead.

[2020-09-25 13:48] #349 closed

[2020-09-25 13:48] opoudjis commented on #350
Not proceeding with this

[2020-09-25 13:48] #350 closed

[2020-09-28 12:09] opoudjis commented on #253
So given:

[code]

you should be able to retrieve the URN: `<std std-id="X">`, where X = `//bibitem[@id = 'R']/docidentifier[@type = 'URN']`, and R = `eref/@bibitemid`.

[2020-09-28 12:10] #253 closed

[2020-09-30 17:05] ronaldtse commented on #347
Fixed in latest commits, thanks!

[2020-09-30 17:05] #347 closed

[2020-10-05 23:08] ronaldtse opened #358 "Termbase import: importing terms from an RDF file"
For use in ISO/TC 184/SC 4 ontology projects (Geometry terms, core terms).

[2020-10-11 03:28] #225 closed

[2020-10-12 12:06] #317 closed

[2020-10-12 12:08] opoudjis opened #359 "Add ISBN"
Documents can have ISBN-13 or ISBN-10 identifiers. ISBN-13 is the default.

[2020-10-12 12:52] #359 closed

[2020-10-14 01:50] manuel489 opened #361 "Support for Asciidoc `start` attribute in ordered lists"
*From https://github.com/metanorma/bipm-si-brochure/issues/24*

The `[start=n]` attribute for ordered lists seems not to be supported in Metanorma.

[code]

Renders as

*Metanorma*
![issue8-generated](https://user-images.githubusercontent.com/33627611/95934072-fa949480-0d9d-11eb-8369-32a9d0ea7b2c.PNG)

*AsciiDoc*
![issue8-original](https://user-images.githubusercontent.com/33627611/95934087-025439

[2020-10-14 09:57] opoudjis commented on #361
No, and there is an issue about this already: merging issue. https://github.com/metanorma/metanorma-standoc/issues/349

While it would be possible to implement list start, it would be very cumbersome to implement in Word, and I do not feel that the instance in BIPM, which I have put a workaround for, warrants the effort of introducing it into Metanorma.

[2020-10-14 09:57] #361 closed

[2020-10-14 16:47] manuel489 opened #362 "Custom sequence markup in ordered list"
*From https://github.com/metanorma/bipm-si-brochure/issues/24*

The custom sequence in ordered lists based on manually numbering the list items is not working in Metanorma (and apparently, in AsciiDoc neither).

[code]

*Output*:

![issue13-generated](https://user-images.githubusercontent.com/33627611/96019817-14c08800-0e1b-11eb-9699-17609560762f.PNG)

[2020-10-15 00:29] opoudjis commented on #362
Metanorma out the box has hardcoded a list ordering starting with alphabetical, to mirror ISO practice (and it is useful, because it allows lists to be cross-referenced succinctly.)

There is one flavour currently that permits overriding of the list numbering scheme. BIPM may be a second, but I would like to investigate their documents to confirm; and I would rather have a BIPM universal default,

[2020-10-18 10:29] CAMOBAP commented on #86
As far as I see the validation is optional so this is correct behavior, @opoudjis @ronaldtse can you confirm?

[2020-11-01 12:08] opoudjis opened #367 "French mathematical typesetting"
From https://github.com/metanorma/bipm-si-brochure/issues/41, it emerges that the French have different conventions on italicisation in mathematics to the Anglosphere; and BIPM follows French practice in both French and English.

* `mi` in MathML contains non-numeric variables and constants
* `mi/@mathvariant` allows italic or normal values to override the MathML default
* The default encoded in j

[2020-11-01 12:33] opoudjis commented on #367
@ronaldtse You will expect to make this a separate plurimath gem as postprocessing of MathML. Not yet, I request: let's wait till the code settles down, especially in case there's inheritance or other effects to deal with. I'm implementing this for now in standoc.

[2020-11-01 14:52] opoudjis commented on #86
Hm. @ronaldtse should make the call. FWIW: we don't officially say that validation is optional, but in practice, I'm ok with execution continuing if Java is not found.

[2020-11-03 13:59] opoudjis commented on #367
Since MathJax v3 does not yet support STIX, but only MathJax TeX, and since MathJax TeX does not support upright Greek characters (my God), we will not be switching to MathJax v3 (released Sept 2019). As of 3.0.4, MathJax deals with upright Greek by plugging in Plane 1 characters instead (https://github.com/mathjax/MathJax-src/pull/455); we are in fact doing that for Word in the same context, http

[2020-11-03 15:13] #367 closed

[2020-11-04 03:17] manuelfuenmayor opened #371 "Implement "date:[]" macro"
*In relation to https://github.com/metanorma/metanorma-bipm/issues/38#issuecomment-714850423*

Implement `date:[...]` for localize date formats.

[2020-11-04 03:52] ronaldtse commented on #367
@opoudjis could you file an issue for MathJax so they will fix it someday? Thanks.

[2020-11-05 23:08] manuel489 opened #373 "Is it possible to typeset list items into footnote blocks?"
The following table contains unordered list items nested in the footnotes:

![Capture](https://user-images.githubusercontent.com/33627611/98306296-e9543780-1f99-11eb-8d44-c55246192a39.PNG)

Is it possible to reproduce it in Metanorma?

[2020-11-06 12:23] #202 closed

[2020-11-16 16:51] ronaldtse opened #375 "Use Fontist font manifest to install necessary fonts in Metanorma flavors (and upgrade Fontist to 1.5+)"
Metanorma currently passes required font information to Fontist like this:

https://github.com/metanorma/metanorma-iso/blob/55568ddec7defdefc8126495296e9b4cd04d2b3c/lib/metanorma/iso/processor.rb#L5-L12

We need to migrate this to the Fontist Manifest format (which needs upgrading fontist to 1.5+):
https://github.com/fontist/fontist#install

This is necessary for the completion of metanorma/metano

[2020-11-17 00:19] ronaldtse commented on #375
In addition, we need to refactor https://github.com/metanorma/metanorma-cli/blob/d6d27e3f25529fb7aa6b5a3faa03583bdc7fbea0/lib/metanorma/cli/setup.rb#L50-L55 so that does not "copy" fonts because it is unnecessary to copy fonts.

[2020-11-17 06:50] ronaldtse commented on #375
As per discussion with @opoudjis , we should run Fontist on every run (i.e. check and install fonts using Fontist every time) so that users don't need to manually run `metanorma setup`.

In addition, we should abort the metanorma run if fonts are not available.

* Add CLI flag `--no-install-fonts` to skip the installation process if the fonts are not available.
* Add CLI flag `--continue-without-f

[2020-11-17 13:06] opoudjis commented on #371
I don't regard this currently as high priority.

[2020-11-17 13:32] opoudjis commented on #373
Not yet, but https://github.com/metanorma/metanorma-bipm/issues/62 will address this.

[2020-11-17 13:32] #373 closed

[2020-11-17 22:00] CAMOBAP commented on #375
@ronaldtse thanks for the explanation, it's clear what need to be done, but to be on the same page metanorma-standoc have no `self.fonts_used` so there is no changes need to be done for this repo, only for other flavors, metanorma and metanorma-cli, right?

[2020-11-18 12:29] opoudjis commented on #375
On the specifics of what's been done in metanorma and metanorma-cli, I can't really say too much: I'm commenting on the bit I'm seeing, which is what's in metanorma-iso

One. The YAML manifest names just "Regular" as the font to use. That is such an appalling idea, it should not be supported by the interface: we can never anticipate when a user will want to use italics or bold (and in fact our int

[2020-11-21 07:39] CAMOBAP commented on #375
I have tested and font styles can be committed so the syntax:

[code]

is valid

Now I understand why the ticket was reported for metanorma/metanorma-standoc repository )

@opoudjis thanks you a lot for your critics, I will proceed with new implementation

[2020-11-21 15:00] ronaldtse commented on #375
We must specify all font faces of a font. For example, Work Sans has over 20 font faces. We only use 10. We’re taking about hundreds of extra MB for fonts — must specify all font faces in the flavor.

Each output format must specify specific fonts and font faces. For example, in OGC the PDF and HTML utilize completely different fonts. This must be made clear in the font manifest.

[2020-11-21 15:03] CAMOBAP commented on #375
@opoudjis @ronaldtse PRs is ready for review, according the suggestions:
 - metanorma/metanorma-cli#190
 - metanorma/metanorma#147
 - https://github.com/metanorma/metanorma-standoc/pull/377
 - https://github.com/metanorma/metanorma-nist/pull/249
 - https://github.com/metanorma/metanorma-iso/pull/442

Once they done I will convert `used_fonts` to yaml for all flavors

[2020-11-24 02:37] ronaldtse commented on #375
@CAMOBAP:

* Some flavor formats, such as OGC, require different fonts in PDF and HTML. We need to make that distinction in the metanorma-{flavor} level to pass to Fontist (in one YAML).
* Some flavors, such as BIPM, require specific font styles of the font (e.g. Regular, Medium, Medium Italic, etc). These need to be listed as well. (see https://github.com/metanorma/mn2pdf/issues/52#issuecomment-7

[2020-11-24 04:41] opoudjis commented on #375
You are opening the process up to error, @ronaldtse. The test manifest omitted italic font. (!!!) Someone is going to be forced to confirm that italic, bold, bold italic is defined for all fonts. Who is that going to be?

[2020-11-24 08:14] ronaldtse commented on #375
Yes this is a necessity. The font world is too complex to be simplified as "get all fonts".

1. Every font face is licensed separately -- this applies to Regular/Italics/Bold, too. Moreover, there are font styles like "Medium" or "Heavy" that have their own version of "Regular/Italics/Bold".

There is no computer font construct today that logically links "Font X Medium" together with "Font X Mediu

[2020-11-26 20:57] CAMOBAP commented on #375
@ronaldtse @opoudjis should we also remove default_fonts methods from `[Html|Word|Pdf]Convert`, like this https://github.com/metanorma/metanorma-iso/blob/master/lib/isodoc/iso/html_convert.rb#L20

[2020-11-30 02:11] ronaldtse commented on #375
@CAMOBAP I think `default_fonts` is used for CSS only. Are you asking if we should streamline all the font names used to a single location to prevent mismatches (font name to use in Word CSS, HTML CSS and PDF)?

We must keep in mind that each format output may use different fonts (OGC uses different fonts in HTML CSS and PDF).

[2020-11-30 02:19] ronaldtse commented on #86
@CAMOBAP Java is a requirement of the system because PDF generation requires it. We should fail the tests if Java is not found. There must be some mechanism to ensure Java exists in running Ruby code? Can you help find some existing code that does that?

[2020-11-30 05:54] CAMOBAP commented on #375
@ronaldtse thanks for explanation, I just asked because I have found fonts in metanorma.yml (in metanorma-generic)

[2020-11-30 08:23] opoudjis opened #382 "Lutaml test broken"
spec/asciidoctor-standoc/macros_spec.rb

[code]

[2020-11-30 09:39] ronaldtse opened #383 "Align font requirements with HTML (plain and Word) and PDF expectations"
Each Metanorma flavor + output format has a specific set of fonts to be used.

In HTML/browsers, the fonts specified need to use a browser understandable name for `font-face` and `font-family`.

In CSS 4, these two messages indicate:
https://github.com/w3c/csswg-drafts/issues/3177#issuecomment-431773808
https://github.com/w3c/csswg-drafts/issues/3177#issuecomment-432131599

That for HTML CSS fonts

[2020-11-30 09:39] ronaldtse commented on #383
This is relevant to the ongoing PRs:

 - https://github.com/metanorma/metanorma-generic/pull/54
 - https://github.com/metanorma/metanorma-un/pull/90
 - https://github.com/metanorma/metanorma-ogc/pull/215
 - https://github.com/metanorma/metanorma-mpfa/pull/67
 - https://github.com/metanorma/metanorma-m3aawg/pull/68
 - https://github.com/metanorma/metanorma-itu/pull/256
 - https://github.com/metanor

[2020-11-30 09:40] ronaldtse commented on #383
@Intelligent2013 could you also help verify the font names needed for mn2pdf so @CAMOBAP can help align them here? Thanks!

[2020-11-30 09:43] CAMOBAP commented on #383
@ronaldtse to be on the same page where should we list those postscript font names? in fonts_manifest.yaml?

[2020-11-30 09:47] ronaldtse commented on #383
I think Fontist only accepts the family name right now? (Ping @alexeymorozov)

I wonder in the future we could use fontist as a dependency where you can get the appropriate names of fonts in order to pass the names to the output formats.

[2020-11-30 09:50] #382 closed

[2020-11-30 10:05] ronaldtse commented on #375
As @CAMOBAP pointed out, Fontist doesn't support this yet. I have made a ticket https://github.com/fontist/fontist/issues/178 for this.

[2020-11-30 11:08] Intelligent2013 commented on #383
The font names needed for mn2pdf:

**bipm**:
- Arial
- Times New Roman
- Work Sans
- STIX Two Math
- Source Han Sans

**csa**:
- Azo Sans
- Azo Sans Lt
- STIX Two Math
- Source Code Pro

**cc**:
- Source Sans Pro
- STIX Two Math
- Source Han Sans
- Source Code Pro

**gb**:
- SimSun
- SimHei
- Cambria
- Cambria Math
- Courier

**iec**:
- Arial
- Times New Roman
- STIX Two Math
- Source Han Sans
- C

[2020-11-30 11:45] CAMOBAP commented on #383
@ronaldtse those fonts above should be added to fonts_manifest.yaml too, right?

[2020-11-30 11:54] ronaldtse commented on #383
@CAMOBAP yes, that's correct.

[2020-11-30 12:08] ronaldtse commented on #383
We have some problems with the fonts here:

* For `iho`, we can't use "SF Mono" because it has a font license that does not allow general usage.
* We can't find a freely licensed Helvetica Neue.

@Intelligent2013 anything we can change here?

[2020-11-30 12:17] ronaldtse commented on #383
@Intelligent2013 actually I don't see where IHO uses SF Mono or Helvetica Neue. Let's change to Fira Code and Neue Haas Grotesk instead.

In addition, Azo Sans is available on macOS by default, but not freely licensed. We will have to find an alternative.

[2020-11-30 13:05] Intelligent2013 commented on #383
@ronaldtse ok.
FYI, IHO xslt was developed for source doc templates in gh-pages branch (for example, https://raw.githubusercontent.com/metanorma/mn-samples-iho/gh-pages/documents/b12.doc). The main font in docs is "Helvetica Neue":

[code]

For source code:
[code]

In case if font didn't install on system, then MS Word uses next first available font. In this case - Arial:
![изображение](https://us

[2020-11-30 13:49] Intelligent2013 commented on #383
@CAMOBAP font list above was modified for iho.

[2020-12-04 15:16] opoudjis opened #387 "Lutaml testing fails for Windows"
https://github.com/metanorma/metanorma-standoc/pull/386/checks?check_run_id=1499251563

[2020-12-04 15:39] w00lf commented on #387
Basic image for testing need to be updated - metanorma/metanorma-build-scripts#52

[2020-12-04 15:39] #387 closed

[2020-12-05 09:05] opoudjis commented on #251
Tightening the requirement on the cols attribute: each column needs to be given an explicit width number, in order for there to be a valid colgroup element, and there needs to be more than one column. `[cols="2"]` will not be recognised as having equal width.

[2020-12-05 09:14] opoudjis commented on #251
The output is:

[code]

The colgroup element is optional.

[2020-12-05 11:20] #251 closed

[2020-12-05 16:49] Intelligent2013 commented on #383
@CAMOBAP

Font list for bipm updated - added `TeXGyreChorus` font:

**bipm**:
- Arial
- Times New Roman
- Work Sans
- STIX Two Math
- Source Han Sans
- TeXGyreChorus

[2020-12-07 07:31] ronaldtse opened #389 "Asciidoctor > 2.0.10 drops certain parsed elements"
From @CAMOBAP in https://github.com/metanorma/metanorma-cli/issues/189#issuecomment-736797913_

[code]

It "drops" some elements (sections, lists) causing the above errors.

The workaround is to lock `asciidoctor` gem to 2.0.10.

[2020-12-07 07:48] ronaldtse commented on #389
@opoudjis believes this may be due to something else, he will investigate today.

[2020-12-07 10:27] opoudjis commented on #389
There are two issues at play.

The first is that Metanorma expects a fixed structure of content under its Terms and Definitions sections, and will ignore content that does not fit it. Hence, elements disappearing if it thinks content belongs to Terms and Definitions when it does not.

The second is that Asciidoctor 2.0.11 has introduced a bug in its processing of lists at the end of included docum

[2020-12-08 04:10] opoudjis commented on #389
No, will need to propagate that includes need to have blank lines after them; this outcome is not regarded as a bug by Asciidoctor. Will write blog post.

[2020-12-08 08:17] #389 closed

[2020-12-10 01:48] ronaldtse commented on #375
@CAMOBAP Fontist::Install.from_hash is now available since fontist/fontist#180 . This is now actionable. Thanks!

[2020-12-11 17:02] CAMOBAP commented on #375
@ronaldtse PRs ready for review

[2020-12-11 17:02] CAMOBAP commented on #383
PRs ready for review

[2020-12-11 17:03] CAMOBAP commented on #383
The issue for missing fonts reported https://github.com/fontist/fontist/issues/188

[2020-12-12 01:03] ronaldtse commented on #383
@CAMOBAP so this is now ready to go?

[2020-12-12 01:04] ronaldtse commented on #76
@opoudjis is this ready for @andrew2net ?

[2020-12-12 01:12] ronaldtse commented on #375
@CAMOBAP if they look good to @Intelligent2013 they look good to me. Thanks!

[2020-12-12 06:14] CAMOBAP commented on #383
@ronaldtse yep I think os

[2020-12-14 12:07] opoudjis commented on #76
No, would like to do the explicit modelling, and this has never been a priority. Would you like me to prioritise now?

[2020-12-14 12:41] ronaldtse opened #393 "Better Processor search interface needed..."
From @CAMOBAP in #392

We need a better interface to find the correct processor for a certain flavor.

@CAMOBAP can you help elaborate the needs? Thanks!

[2020-12-14 17:29] ronaldtse commented on #76
@opoudjis yes 690 is now in FDIS and we need to make it work. Will prioritize.

[2020-12-15 02:22] opoudjis commented on #110
We have implemented concatenated documents in different languages.

God willing, we never have to implement side-by-side bilingual documents.

[2020-12-15 02:27] opoudjis commented on #342
The first instance of this is coming up in https://github.com/metanorma/metanorma-bipm/issues/67 : we need to cite page ranges.

I will introduce `from` and `to` as keys, semicolon, and `or` (not `||`, come on).

There will be no arbitrary mixes, that's daft. All there will be is that semicolons will contain from and to, e.g. `<<anchor1;from=anchor2,to=anchor2a;anchor3>>`

[2020-12-15 02:28] opoudjis commented on #342
This ticket applis to both xref and eref; they are after all the same in markup

[2020-12-15 13:11] opoudjis commented on #342
Going to do the very first bit of this, which is to support just `from` and `to`. Proper implementation (_Clauses 3–9_) in fact requires plurals to be added for i18n (and we did have to get into inflections eventually, Russian was always going to force that for ITU), but I have a big backlog, so I am implementing this incrementally. The i18n will be resolved in PresentationXML, and that's where co

[2020-12-16 05:22] manuel489 opened #395 "Compilation failure upon certain configuration in equations"
Apparently, there is a conflict issue between vertical bar symbol (`|`) and closing braces (`{: :}`) in math environment.

Consider this example:

[code]

This equation fails to generate in Metanorma, but not in [other generators](https://codepen.io/bqlou/pen/yOgbmb).

This configuration is need for certain cases, like:

[code]

Present in page 21 of  [JCGM_101_2008_E.pdf](https://github.com/metan

[2020-12-16 05:37] opoudjis commented on #395
This is the ambiguity in Asciidoc Asciimath between `|` (bar) and `|: :|` (bracket); the latter needs to be used for absolute signs, in order for the context-free grammar of https://github.com/asciidoctor/asciimath/blob/ce84db89cfc3f8f91ef16a19375b4e812b205327/lib/asciimath/parser.rb to parse correctly.

[2020-12-16 05:37] #395 closed

[2020-12-16 10:15] opoudjis commented on #342
Doing first cut of inflections in i18n YAML, as placeholder work to be used later:

* inflections will have optional keys "number", "case", and "gender".
  * Gender extends to include noun class in general, as in Swahili; but is only needed for words that inflect for noun class -- that is, adjectives. Not sure we currently have it, but foreseeing it.
  * Other languages have more categories of inf

[2020-12-16 11:08] opoudjis commented on #342
The YAML i18n inflections of flavour gems are going to need deep merge of their inflection entries.

[2020-12-17 02:13] opoudjis commented on #342
The requirement for case inflection means that we can no longer have a prepared `@anchor[id][:xref]` to insert as the text of a cross-reference: we need to compose cross-references on the fly, to account for inflection by case and number. So each anchor will need the following:

* A template to insert variables into, to realise the cross-reference.
  * There will by default be only a couple of tem

[2020-12-17 04:35] opoudjis commented on #342
Will need to give serious consideration to i18n package, https://www.projectfluent.org

[2020-12-28 11:49] opoudjis commented on #75
* Populate stage with abbreviations and not the ISO numerals throughout

Done in https://github.com/metanorma/metanorma-iso/issues/342

[2020-12-28 11:56] opoudjis commented on #250
Turns out has already been implemented.

[2020-12-28 11:59] #250 closed

[2021-01-03 11:39] CAMOBAP commented on #375
After end-end testing, I have found a serious issue in my implementation https://github.com/metanorma/metanorma-standoc/pull/377

The key problem that [CLI arguments from metanorma-cli](https://github.com/metanorma/metanorma-cli/blob/master/lib/metanorma/cli/command.rb#L35-L37) didn't reach the [`metanorma-standoc`](https://github.com/metanorma/metanorma-standoc/blob/master/lib/asciidoctor/standoc

[2021-01-03 13:12] ronaldtse commented on #375
The proper approach is to have the CLI delegate different kinds of options:
- Metanorma general options
- Per-flavor options

Some options are to be carried across the stack of gems:
- CLI (metanorma-cli) => input and output processor (metanorma/metanorma-standoc/isodoc)

The only interface between Metanorma CLI and the processors is the "compile" method, and it is wise to keep that as such.

So y

[2021-01-05 00:24] CAMOBAP commented on #375
@ronaldtse PRs ready for review (suggestions adressed)
 - https://github.com/metanorma/metanorma/pull/153
 - https://github.com/metanorma/metanorma-standoc/pull/407
 - https://github.com/metanorma/metanorma-cli/pull/206

[2021-01-10 17:18] manuel489 opened #409 "Unexpected rendering upon for loop in yaml2text block"
*In relation to https://github.com/ituob/service-publications-docs/issues/1*

We need to extract some data from existing YAML files. But I'm getting unexpected rendering upon `for` loop in `yaml2text` block.

In the example below, I'm trying to extract the country names (French, English and Spanish) from the indicated YAML file into an adoc table by using `for` loop.

**T-SP-SR.1-2012.yaml file**:

[2021-01-11 04:19] ronaldtse commented on #409
* you need to have the `a|` within the for loop so each country is a separate cell
* according to [yaml2text syntax](https://www.metanorma.com/blog/09-20-2020/yaml2text-supports-yaml-with-liquid/) the method to obtain the value of an unknown key is via `data[1]`

Try something like this?

[code]

[2021-01-11 04:19] ronaldtse commented on #409
Ping @w00lf too

[2021-01-11 13:06] manuel489 commented on #409
Ah yes, I was aware of this. I have updated the description.

Try something like this?

Thank you @ronaldtse ! This is correct. I missed that part in the documentation.

Closing this issue.

[2021-01-11 13:06] #409 closed

[2021-01-11 14:07] manuel489 opened #410 "Numbers not showing up in table environment"
Numbers within `stem:[]` blocks are not showing up...

[code]

Renders:

![Capture](https://user-images.githubusercontent.com/33627611/104191135-7e890780-53f3-11eb-9a8e-4274b8383484.PNG)

[2021-01-11 14:24] manuel489 opened #411 "Malformed vertical bar in inline math stem"
Vertical bars are showing inclined in inline stem blocks:

[code]

renders

![Capture1](https://user-images.githubusercontent.com/33627611/104193727-ceb59900-53f6-11eb-8368-85e61287d769.PNG)

[2021-01-11 23:19] opoudjis commented on #411
Remember: in Asciidoctor Asciimath, absolute bars are '|: :|`, not `|`, since the parser needs to know explicitly that they are brackets surrounding an expression.

However, `stem:[u_{"c"}(y) // │: y :│ ]` is still not working...

[2021-01-11 23:29] opoudjis commented on #411
Ah. Manuel, Copy Paste Considered Harmful. AsciiMath expects to see a `|` character. But what you've got in your asciimath is actually U+2502, BOX DRAWINGS LIGHT VERTICAL. Asciimath naturally does not recognise that character at all. Clearly they have inserted a typographically more pleasant variant of `|` for the maths, but you can't use it in AsciiMath.

[2021-01-11 23:29] #411 closed

[2021-01-11 23:48] manuel489 commented on #411
Thanks @opoudjis ! Changes applied to master.

[2021-01-12 09:36] opoudjis commented on #410
It is not unreasonable, after localising numbers in Presentation XML, to replace `<math><mn>n</mn></math>` with `n`, except that the stand-alone n is in `<stem></stem>`, and that seems to be resulting in font issues. I will remove the `<stem>` wrapper as well in that case.

[2021-01-12 09:44] #410 closed

[2021-01-21 06:42] opoudjis opened #416 "Insert Metanorma markup in sourcecode"
There is a requirement to hyperlink code keywords in source code to cross-references from ISO 10303 (https://github.com/metanorma/annotated-express/issues/13), and it is clear that this requirement needs to satisfied through the input Asciidoctor markup, rather than through postprocessing with Javascript, as earlier hoped.

 In order to address this requirement, we will allow arbitrary Metanorma m

[2021-01-21 13:24] #416 closed

[2021-01-23 09:03] opoudjis opened #418 "Default script assignments for languages"
Given language only in document attributes, should have sensible defaults for scripts, for the most common non-Latin scripts to be encountered.

[2021-01-23 09:51] CAMOBAP commented on #375
I suppose we can close this one

[2021-01-23 09:51] #375 closed

[2021-01-23 12:55] #418 closed

[2021-01-24 12:34] opoudjis opened #420 "Model updates to support bilingual PDF generation"
From https://github.com/metanorma/metanorma-bipm/issues/101:

Proposed attributes:

* The document attribute or flavour default `:align-cross-elements:` is a specification that, say, the elements "p, note, term" shall always be aligned in bilingual text. It is added to //bibdata/ext, as separate tags, not space-delimited. So presumably, a repeating `//bibdata/ext/parallel-align-element` tag. As a

[2021-01-25 01:40] opoudjis opened #421 "Move utilities to separate gem"
I now have a mutual recursion problem with metanorma gem invoking Asciidoctor::Standoc::Cleanup.to_ncname, and metanorma gem being invoked by isodoc.

To address this, I'm going to move utility methods of Standoc used by other gems into a separate gem, metanorma-utils:

* Log class
* to_ncname()
* asciidoc_sub()
* anchor_or_uuid()

[2021-01-25 04:42] opoudjis commented on #420
From Ronald:

[2021-01-25 05:22] #421 closed

[2021-02-01 12:18] opoudjis opened #425 "UnitsML macros in Asciimath"
We are currently using `rm()` font shift to notate units in Asciimath, which we convert to MathML.

We want to create markup in our Asciimath, that we can convert to actual UnitsML: https://www.unitsml.org/xml/  , as a layer on top of MathML: https://www.w3.org/TR/mathml-units/ . This is somewhat clunky, but the best bet we have for a quick proof of concept, short of actually creating a new markup

[2021-02-01 13:19] opoudjis commented on #425
https://github.com/plurimath/asciimath2unitsml

[2021-02-01 14:08] opoudjis commented on #425
[code]

[2021-02-05 12:41] #425 closed

[2021-02-12 11:40] opoudjis opened #428 "Resolve indirect crossreferences locally"
Currently indirect crossreferences are all treated as erefs, and their resolution is deferred to the compilation of a collection. But of course, indirect crossreferences can occur within a standalone document. So if any indirect crossreference is pointing to an anchor within the current document, it needs to be resolved immediately to an xref.

[2021-02-12 11:57] opoudjis commented on #428
Turns out svg was being output before bibdata_cleanup was converting indirect crossreferences within the document back into xrefs, as well.

[2021-02-12 12:28] opoudjis commented on #428
Also, when comparing anchors in svgmap to anchors in svg file, need to expand out any relative paths.

[2021-02-12 12:57] #428 closed

[2021-02-26 03:22] ronaldtse opened #433 "Smart term references not working when terms are placed in term sections"
Occurs here: https://github.com/metanorma/iso-tc184-sc4-directives

<img width="786" alt="Screenshot 2021-02-26 at 11 21 25 AM" src="https://user-images.githubusercontent.com/11865/109250502-c4bfec00-7824-11eb-9029-6e5dc375befc.png">

But the term "recommendation" is defined here:
<img width="795" alt="Screenshot 2021-02-26 at 11 21 37 AM" src="https://user-images.githubusercontent.com/11865/10925

[2021-03-05 07:50] ronaldtse opened #435 "Generalize corrigenda commands: `add` and `del` from Metanorma ITU"
The `add` and `del` macros are available for ITU:
 https://www.metanorma.com/author/itu/topics/markup/#corrigenda ?

OGC also needs them, so let's generalise them for all flavors.

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-ogc/issues/226#issuecomment-791228985_

[2021-03-05 13:52] opoudjis opened #436 "Allow internal erefs to link to anchors within a target clause"
We want to allow `<<express:X>>` to point not only to a clause with `@type = 'express' @id = 'X'`, but also to an element with `@id = 'X'` within a clause with   `@type = 'express`. (So internal erefs can also point to arbitrary anchors within a clause of the referenced type.)  Needed for https://github.com/metanorma/annotated-express/issues/25

[2021-03-05 14:10] #436 closed

[2021-03-08 04:43] opoudjis opened #438 "Process raw Metanorma attachments"
It should be possible to process an asciidoc file in Metanorma without inserting any content other than what is in the file—no boilerplate, and no cover page. This is needed for file attachments, e.g. ISO 10303 Annex C, where hyperlinked versions of the schema are attachments to the document, and are separate files, but are not full Metanorma documents.

[2021-03-09 01:21] ronaldtse opened #439 "Metanorma XML validation killing outputs on data:image"
In annotated-express we're seeing the logs filled with:

[code]

And this is killing the log file, log storage and also generation time.

We need to ensure validation does not affect actual compilation.

[2021-03-09 10:02] ronaldtse opened #440 "Allow generating a document as an HTML site (clause = single HTML file)"
This is the default behavior of ISO 10303 SMRL.

For Part 41 which exceeds 6MB in a single HTML file, browsers are challenged in just opening it. Scrolling/clicking on internal links around is also slow.

To accommodate lower resourced devices and larger document collections we must to have a way to build a document (or a document collection) into a paged site.

An attribute like this could work:

[2021-03-09 13:44] opoudjis commented on #433
The `term:[]` macro presupposes that all term anchors are prefixed with term-, which is indeed what happens automatically. This document has preempted that, and has put its own anchor in front of the term recommendation, `[[recommendation]]`. Therefore, the attempt to resolve `term:[recommendation]`, which is in fact searching for `term[@id = 'term-recommendation]`, fails.

RTFM. Make the anchor o

[2021-03-09 13:44] #433 closed

[2021-03-12 08:16] anermina opened #441 "Generating space before UnitsML expression"
Blank spaces are not always automatically added before the units in generated documents.

If space is explicitly used in source file, e.g. `stem:[f = 563260223513 (5) "unitsml(kHz)"]`, it is generated in output document as well. However, if it is not, e.g. `stem:[f = 563260223513 (5)"unitsml(kHz)"]`, output file is also not generating space.

Generated example:
![image](https://user-images.githubu

[2021-03-14 14:26] opoudjis commented on #441
Addressed in https://github.com/plurimath/asciimath2unitsml/issues/19

[2021-03-14 14:35] opoudjis commented on #441
The condition for inserting space is that the unit is preceded by a literal number, MathML `<mn>`. So `stem:[f = 563260223513"unitsml(kHz)"]` does *not* require a space in the AsciiMath, to insert the space.

`(5)` is not a number, as far as MathML is concerned: it is `<mfenced open="(" close=")"><mrow><mn>5</mn></mrow></mfenced>`. And although you have reported that the space is generated if ther

[2021-03-14 14:40] #441 closed

[2021-03-15 18:11] w00lf opened #444 "On windows absolute path to an image gets still prefixes with `imagesdir` attribute"
Example: https://github.com/metanorma/metanorma-plugin-lutaml/pull/19/checks?check_run_id=2113304281
![image](https://user-images.githubusercontent.com/1158036/111200597-fe3d7900-85d2-11eb-9d31-06315a1a1f8d.png)

[2021-03-16 06:27] opoudjis commented on #444
I've investigated this, and it is an issue with Asciidoctor, out of our control. Asciidoctor prefixes `imagesdir` to image URLs when they are not absolute addresses; but Asciidoctor explicitly refuses to consider `D:/` the beginning of an absolute address. Because it does not, it prefixes imagesdir before it. If at all possible, you should instead ensure that you prefix `file://` before any absolu

[2021-03-16 06:27] #444 closed

[2021-03-17 15:11] manuel489 opened #445 "Bad rendering in closing quotes"
*I've been noticing this issue since a while. But I wasn't sure about its origin until now.*

When a text is quoted, sometimes the closing quote is shown as an opening quote.
This may happen under two conditions:

1. when the text contains stem expressions, and
2. when the text is a hyperlink followed by punctuation mark (like a comma, period, etc.)

As an example of these two cases, consider this

[2021-03-19 00:06] opoudjis opened #446 "Update spec/asciidoctor/macros_lutaml_spec.rb"
Please update spec file to match updates to lutaml.

[2021-03-19 01:08] ronaldtse commented on #446
LutaML specs should not be in metanorma-standoc?

[2021-03-19 09:04] ronaldtse opened #447 "Support generic [liquid] template block"
We have a need in ISO 10303 to use custom attributes for templates.

For example, with these document attributes:

[code]

We can use them in Liquid with if we have something like a `[liquid]` block:

[code]

This task is to implement something like this.

[2021-03-19 09:25] ronaldtse commented on #447
The demonstration of usage of this block is this: https://github.com/metanorma/annotated-express/pull/73

[2021-03-22 10:41] opoudjis commented on #446
Have just confirmed that the spec file in question is replicated in metanorma-plugin-lutaml. Removing that spec file from metanorma-standoc.

[2021-03-22 10:41] #446 closed

[2021-03-23 18:10] ronaldtse opened #452 "(URGENT) rendering of CalConnect standards identifier wrong"
<img width="595" alt="Screenshot 2021-03-24 at 1 48 42 AM" src="https://user-images.githubusercontent.com/11865/112193655-10f32600-8c43-11eb-9a6c-51e246db5aa7.png">

Should just be CC/DIR, not "csd CC/DIR".

@andrew2net has verified in relaton/relaton-calconnect#12 that it is not a Relaton issue:

[code]

[2021-04-01 01:53] opoudjis commented on #452
Addressed in https://github.com/metanorma/isodoc/commit/7be1dff85638f595be94907293a2fdf1d751492c

[2021-04-05 04:07] opoudjis opened #455 "Move add, del from ITU to standoc"
Follow-on from https://github.com/metanorma/metanorma-standoc/issues/435

The tags `<add>` and `<del>` are moving from ITU to being used throughout metanorma, so they need to be supported in common.xsl.

[2021-04-05 04:18] #435 closed

[2021-04-05 18:16] Intelligent2013 commented on #455
Done.

[2021-04-05 18:16] #455 closed

[2021-04-06 15:50] opoudjis commented on #440
This is going to be involved and iterative, and I am not going to deliver anything near as fancy as what you are requesting in a hurry. You are getting clause level.

[2021-04-12 22:51] opoudjis commented on #440
Need to split Presentation XML, not compile separate fragments of Semantic XML; in turn, that means Presentation XML needs to be compiled in metanorma

[2021-04-13 23:20] manuel489 opened #457 "Type attribute not working for ordered lists"
Ordered lists show `alphabetic` letters regardless the specified type.

[code]

renders

![Capture2](https://user-images.githubusercontent.com/33627611/114632688-2d581080-9c8d-11eb-8e4d-e2ee3dca7a22.PNG)

[2021-04-14 17:34] Intelligent2013 opened #458 "Adoption documents support"
ISO STS documents (https://github.com/metanorma/mn-samples-bsi/tree/master/reference-docs) contain additional headers for adoption documents:
- `/standard/front/reg-meta` and
- `/standard/front/nat-meta`.

For example:
- https://github.com/metanorma/mn-samples-bsi/tree/master/reference-docs/adoptions/bs-en-12973/30314082.xml
contains only `reg-meta`
-  https://github.com/metanorma/mn-samples-bsi/t

[2021-04-22 18:12] w00lf opened #460 "Support EMF (Enhanced MetaFile) graphic format"
Image macro when used with `emf` image does not get rendered as SVG.

Example of emf file: https://github.com/metanorma/ogc-dggs-xmi/blob/master/xmi-19170-only/Images/EAID_0F7609F1_8B3C_42c2_BCF9_373CAC4CDF97.emf. When used with `image` macro the rendered result displays the blank image:

![image](https://user-images.githubusercontent.com/1158036/115765415-668c3100-a3af-11eb-991e-c064179c4dfb.png)

[2021-04-25 11:45] opoudjis commented on #457
If this relates to BSI, and this is the second list in a subclause, I've already addressed that as a flavour-specific rule: it will render with the metanorma-bsi gem. As you know, I am very reluctant to open the floodgates to arbitrary typing of sublists in Metanorma, because of the difficulties this introduces in Word, but in this instance (a) Word is not involved and (b) there is a strict rule r

[2021-04-25 11:45] #457 closed

[2021-04-25 11:48] opoudjis opened #461 "Support HTML form elements"
We will need to support HTML form elements in Metanorma, as part of the entire to generate checklists out of Metanorma source. These will need fallback renderings for Word and PDF (and presumably STS). I will aim for a somewhat abstract representation of the form elements, since this is going to be semantically driven.

[2021-04-25 12:43] opoudjis opened #462 "Support classification in bibdata"
key/value pair, done as `:classification:`, followed by CSV delimited list of key:value pairs.

[2021-04-25 13:05] #462 closed

[2021-04-26 03:32] opoudjis commented on #458
There is currently support for this, as, `//bibdata/relation[@type = 'adoptedFrom']/bibitem`. Is that enough for your needs?

[code]

[2021-04-26 04:36] ronaldtse commented on #458
@opoudjis there is a logical disconnect here though:

[code]

But the document itself contains the adopted document content. Shouldn't this be represented as:

[code]

[2021-04-26 04:46] opoudjis commented on #458
That looks like massive overkill. All @Intelligent2013 is asking for right now is metadata, right?

[2021-04-26 05:08] ronaldtse commented on #458
Unless you consider an intro and foreword also part of metadata.

In addition, some national adoptions contain full document translations.

[2021-04-26 07:37] ronaldtse commented on #458
Here's a BS adoption of an EN adoption of an ISO, with associated pages.

## Sample 1: BS EN ISO 19650-1

This is the preview from techstreet.com:
https://www.techstreet.com/sa/standards/bs-en-iso-19650-1-2018?product_id=2033334

BS cover

<img width="651" alt="Screenshot 2021-04-26 at 3 21 22 PM" src="https://user-images.githubusercontent.com/11865/116044359-66d44700-a6a3-11eb-9705-57554a68f175.p

[2021-04-26 08:36] Intelligent2013 commented on #458
@opoudjis yes, I need Metanorma structures for representing `reg-meta` and `nat-meta` ISO STS data.

[2021-04-27 02:49] opoudjis commented on #461
We're going to take up a small subset of HTML 5 form elements, and we're going to tweak their attributes in line with React, https://reactjs.org/docs/forms.html, to make them slightly easier to manipulate at the semantic level. We will stick closely otherwise to HTML syntax:

* input
  * type: button, checkbox, date, file, password, radio, submit, text
  * checked
  * disabled
  * maxlength
  * mi

[2021-04-27 21:20] opoudjis opened #464 "use canonical index crossreferences"
It isn't well-documented, but Asciidoctor has supported index cross-references for a couple of years, as `index[see=]` and `index[see-also=]`. We should use those, instead of `index:see[]` and `index:also[]`

[2021-04-28 13:56] #461 closed

[2021-05-03 10:35] opoudjis commented on #458
I'm not implementing any of this without an example document instance.

[2021-05-05 11:27] opoudjis commented on #458
The rules are as following:

* Only make a distinction between `nat-meta`, `reg-meta`, `iso-meta` if `//bibdata/relation[@type = 'adopted-from']` exists. If not, then all information from `//bibdata` goes to the default metadata container (which I assume is `std-doc-meta`).
* If `//bibdata/relation[@type = 'adopted-from']` exists, `//bibdata` (ignoring all instances of `.//relation[@type = 'adopte

[2021-05-05 11:27] #458 closed

[2021-05-06 11:07] opoudjis commented on #255
Model superseded by https://github.com/glossarist/concept-model

[2021-05-06 11:08] ronaldtse commented on #255
@opoudjis just FYI, it's the same model in the original post...

[2021-05-06 17:00] ronaldtse opened #468 "Support smart terms references in normal content"
In ISOSTS documents they have a `<named-content>` tag used in normal content like this:

[code]

sts2mn currently converts this to:
[code]
(notice the pluralisation) (see https://github.com/metanorma/bs-202000/pull/5)

This is clearly our "smart terms reference" and should be encoded as:
[code]

However, since the "smart terms reference" functionality was originally only used in Clause 3 (and in S

[2021-05-07 04:04] ronaldtse commented on #86
@CAMOBAP is this completed and to be closed? Thanks.

[2021-05-07 08:58] CAMOBAP commented on #86
@ronaldtse yep it's implemented https://github.com/metanorma/metanorma-standoc/blob/master/lib/asciidoctor/standoc/validate.rb#L84

[2021-05-07 08:58] #86 closed

[2021-05-07 09:00] ronaldtse commented on #86
Thanks!

[2021-05-12 16:18] manuel489 opened #469 "Support for YAML repeated nodes in Liquid"
*In relation to https://github.com/ituob/service-publications-docs/issues/1*

I'm getting `Liquid error: internal` message on repeated nodes.

YAML example:
[code]
being `&general` a node object, and `*general` the reference to that object.

[2021-05-14 10:35] opoudjis opened #470 "TermLookupCleanup not scaling"
We have code in TermLookupCleanup to assign a unique identifier to each term in a document, after searching that such a code does not already exist, and adding a disambiguating number if a term id is repeated.

We have a 7000-term document, and repeated searches for term ids through XPath are not scaling. I am optimising the search by moving the relevant term IDs into a hash and updating that.

[2021-05-14 11:12] #470 closed

[2021-05-14 11:13] opoudjis opened #472 "Optimise smartquote parsing"
smartquotes_cleanup is not particularly optimised, and takes a very long time on a large document.

[2021-05-14 11:47] #472 closed

[2021-05-31 14:37] opoudjis commented on #438
This will be invoked through normal HTML rendering (the alternative of introducing a new subclass for the renderer would just be too messy). The compilation will pass a "bare = true" option from metanorma to isodoc, which will use it to suppress inclusion of prefatory material.

[2021-05-31 14:42] opoudjis commented on #440
Also need to be able to compile a document without prefatory material (boilerplate, coverpage): https://github.com/metanorma/metanorma-standoc/issues/440

[2021-06-01 09:40] ronaldtse opened #479 "Move citation rendering to presentation XML"
This was originally done in NIST:
* metanorma/metanorma-nist#242

But other flavors are seeing the need for it now:
* metanorma/metanorma-ogc#218
* metanorma/metanorma-itu#261
* metanorma/metanorma-ribose#114

Perhaps there should be an ISO 690 gem (ping @andrew2net ).

[2021-06-01 10:45] #438 closed

[2021-06-01 11:49] opoudjis commented on #440
... Not sure it does: HTML is always compiled from Presentation XML, Presentation XML is in same folder always as Semantic XML, since both are generated from isodoc...

[2021-06-01 13:43] opoudjis commented on #440
The HTML collection is being generated, but the index is not, and neither are the headings...

[2021-06-01 15:35] andrew2net commented on #479
@ronaldtse It seems we have it already https://github.com/metanorma/iso690render

[2021-06-01 16:55] ronaldtse commented on #479
@andrew2net this gem metanorma/iso690render needs a refactor :wink:

[2021-06-02 10:41] opoudjis commented on #440
Adding "presentation-xml" directive to Metanorma collections: indicates that the XML being passed into the collection is already Presentation XML, and is not to be processed further to generate new Presentation XML.

Adding "bare-after-first" directive to Metanorma: only the first file in the manifest is generated as a complete document (coverpage, boilerplate), the remainder are processed as bare

[2021-06-02 13:24] opoudjis commented on #440
Bug in metanorma: if two internal references point to the same file, only a single reference was being generated in parsing, because one was overwriting the other.

[2021-06-07 13:02] opoudjis commented on #440
We allow the doc identifier in the collection to contain markup. (Section title XML is treated as the doc identifier.)

Debugged i18n index for navigation element.

[2021-06-08 16:00] opoudjis opened #480 "Attribute id value fixing"
Dupe https://github.com/metanorma/mn2sts/issues/38

Sometimes, xml contains non-valid id like this:
`<term id="term-bill-of-material-(bom)-data-structure">`

Characters ( and ) should be replace by _.

[2021-06-11 15:22] opoudjis commented on #440
svgmap references are being resolved in the unitary Presentation XML compiled, before it is being split up into clauses. That causes problems downstream: the references get broken in the svgmap when it is broken up. if the sectionsplit attribute is present, we will postpone svgmap processing.

[2021-06-11 16:54] opoudjis commented on #440
I've ended up instead reconstructing the svgmap when the xrefs are already resolved.

[2021-06-16 07:21] opoudjis opened #481 "Empty normative references section is not being recognised"
BS 44001

[2021-06-17 12:52] opoudjis commented on #481
In 44001, we have a different problem: the boilerplate for Normative References and Terms and Definitions is being added by Metanorma, on top of text already present in the document:

<img width="712" alt="Στιγμιότυπο 2021-06-17, 22 46 25" src="https://user-images.githubusercontent.com/1911039/122399230-f1f3fe00-cfbd-11eb-9291-95cf6187cf23.png">

[code]

The solution for this is either to leave o

[2021-06-17 14:42] Intelligent2013 commented on #481
@opoudjis ok, I'll check all STS xml examples about boilerplate's texts and if they all match the ISO default, then xslt will remove it, or will add `[.boilerplate]`.

[2021-06-18 10:03] Intelligent2013 commented on #481
Regarding 'Normative References', in the STS xml samples there are 9 different texts:
1. `<p>There are no normative references in this document.</p>`
adoptions\bs-en-iso-56000
adoptions\bs-en-iso-56003
adoptions\bs-iso-44001
bs-codes-of-practice\bs-7858

2. `<p>There are no normative references in this British <named-content content-type="term" xlink:href="#term_3.26">Standard</named-content>.</p>

[2021-06-18 14:52] Intelligent2013 commented on #481
For section Terms also added
[code]
and
[code]

All done.

[2021-06-21 08:45] ronaldtse commented on #460
I have tried many EMF converters and most don't really work. In addition, it seems that the EMF files produced by SparxSystems' Enterprise Architect are *borked*.

From: https://github.com/metanorma/ogc-dggs-xmi/issues/17

I've got some interesting findings. The EMF files that Enterprise Architect generates are broken -- they cannot be read by Inkscape, Microsoft Word, and LibreOffice.

## Direct

[2021-06-22 05:35] #481 closed

[2021-06-22 08:44] opoudjis opened #482 "Eliminate duplicate ids in nested bibitem"
From https://github.com/relaton/relaton-ietf/issues/24

If IETF BCP 47 citation includes IETF RFC 5646, and both top level and nested instances of IETF RFC 5646 have the same anchor, that will result in a duplicate id error. In fact, that error should have been eliminated already, by removing the ids of nested bibitem//bibitem instances within Metanorma: this has come up before.

[2021-06-22 11:59] opoudjis commented on #482
Ok, fixed, @ryzokuken . Next release is in two weeks; if you want to use this before then, add to your Gemfile (once I've finished running GitHub Actions):

[code]

[2021-06-22 12:14] ryzokuken commented on #482
@opoudjis will do.

[2021-06-23 11:10] ronaldtse opened #484 "Support EPS image format"
Somehow, I thought we did but apparently we don't.

Metanorma should support the EPS image format. ISOSTS files often come with EPS content and we need to support EPS.

This can be done using Inkscape to convert the EPS to (SVG + EMF).

Command:
[code]

[2021-06-23 13:59] opoudjis opened #485 "Create simple CSS for HTML for standoc"
For tutorial use

[2021-06-23 14:01] opoudjis opened #486 "Create complelety bare bones PDF XSLT stylesheet for standoc"
Only for use in tutorials on metanorma.com, make this as low maintenance as possible

[2021-06-24 09:41] ronaldtse commented on #460
We're continuing this at metanorma/libemf2svg#1 .

[2021-06-24 09:42] ronaldtse commented on #484
The converted SVGs can sometimes be even larger than EPS. We may want to minimise them.

I've tried both SVGO and Scour. SVGO works for smaller files but it hung on an 18MB file. [Scour](https://github.com/scour-project/scour) worked for all in reasonable time.

[2021-06-25 07:19] ronaldtse commented on #460
Now at metanorma/libemf2svg#5

[2021-06-28 09:56] opoudjis opened #487 "Define identifiers on definitions in dl"
`[[id]]]a:: b` is not resulting in `<dt id="id">a</dt><dd>b</dd>`.

[2021-06-28 09:58] opoudjis opened #488 "Extend terms:() macro to abbreviations/symbols"
Requested functionality in https://github.com/metanorma/metanorma-bsi/issues/37 is that terms:[] macro apply to definitions as well as terms. This may or may not be appropriate...

[2021-06-28 11:53] opoudjis commented on #487
Also introducing rendering of crossreferences to definition lists and definition list terms in isodoc, to deal with these.

[2021-06-28 13:45] #487 closed

[2021-06-29 12:31] opoudjis commented on #488
Because of possibility of a term and a symbol/abbreviation being the same string, we will provide a distinct macro, `symbol:[]`. We use symbol rather than abbrev as a more generic expression.

[2021-06-29 13:12] opoudjis opened #491 "Terms mention"
Currently, the `term:[name,name2]` macro is temporarily mapped to `<em>name</em> (<termxref>name2</termxref>)`, and ultimately (after the term is looked up) mapped to `<em>name</em> (<xref target="term-name2"/>)`

That is the desired rendering of the macro; but the intent was to capture the fact that this is a term *mention*, so that it can be treated differentially to other cross-references (in p

[2021-06-29 14:16] opoudjis commented on #491
In fact, we already have term mention, as `concept`. So I need to work out the overlap between the existing concept markup, and the term macro, and allow the rendering of concept to fall in line with that of current term:[].

[2021-06-29 14:17] opoudjis commented on #491
Concept currently has the text to be displayed as an attribute. It should be an element, given that it can contain markup.

[2021-06-29 14:55] opoudjis commented on #491
We will get rid of the distinct term:[] macro. Instead, we will support the following syntax for concepts:

* {{<<id>>,term}}
* {{<<id>>,term,text}}
* {{termbase:id,term}}
* {{termbase:id,term,text}}
* {{term}}
* {{term,text}}

This will be a breaking change, major version of standoc and isodoc.

The term:[] rendering currently in metanorma-iso will become the rendering of `<concept>`.

[2021-07-02 15:21] opoudjis commented on #491
I am disinclined to get rid of term:[], I don't want to break things if I can avoid it. I'll keep it as equivalent to {{term}}, {{term,text}}.

[2021-07-03 03:52] ronaldtse opened #492 "Switch to using mnconvert instead of mn2sts and sts2mn"
mnconvert (https://github.com/metanorma/mnconvert) is the successor of mn2sts and sts2mn, where it combines functionality of both in the same package.

Ongoing improvements to these functions will only be done in the new mnconvert.

This ticket is to replace the two now deprecated tools with mnconvert.

This work is dependent on the creation of the corresponding gem for mnconvert. https://github.c

[2021-07-03 03:53] ronaldtse commented on #492
@opoudjis current, but needs to wait for @CAMOBAP for the wrapper.

[2021-07-03 11:28] opoudjis commented on #468
I am not going to implement a distinct macro, and pointlessly proliferate code for every truculent piece of inconsistency an SDO can elect to befoul its style with. Nor am I going to implement business rules like (2), formulated by the same SDOs who are so incapable of sticking to their own citation style, and who therefore cannot be trusted to stick by any such business rule either.

If the rende

[2021-07-03 14:53] opoudjis commented on #492
Which means it isn't current, it's blocked.

[2021-07-04 05:29] opoudjis commented on #491
Concept will be modified as follows:

1. The ID will contain the localities for erefs, and will always be in `<<>>`, including for termbases. So, `<<xref>>`, ``<<eref>>`, `<<eref,locality=value,locality=value>>`, `<<termbase:id>>`. This will involve overriding the asciidoc macro parser, and doing our own parsing of arguments, since Asciidoc breaks up arguments at the first comma it sees
2. We will

[2021-07-04 05:32] ronaldtse commented on #491
Agreed, thanks @opoudjis.

[2021-07-04 07:05] ronaldtse commented on #468
Following up on our discussion, we will use `{{term, render, options="foo, bar"}}`.

[2021-07-04 16:33] opoudjis commented on #491
Done 1,2,3,4,5. To go: 6,7, isodoc and metanorma-iso rendering.

[2021-07-05 08:17] ronaldtse commented on #491
Just FYI that https://github.com/metanorma/bs-202000/issues/3 will have issues solved once this is done.

[2021-07-05 15:49] opoudjis commented on #491
If cross-reference text is supplied, it overrides "term defined in %" boilerplate text, not just the % component: `{{term,text,ibid.}}` should be rendered as

not

[2021-07-05 16:22] opoudjis commented on #491
And termref content must be rendered, if present.

[2021-07-06 10:37] ronaldtse commented on #488
Thank you!

[2021-07-06 14:03] opoudjis commented on #491
Blog post created

[2021-07-06 14:04] #491 closed

[2021-07-07 10:16] opoudjis opened #495 "Allow form classes"
Will be needed by @edhenderson to process forms differentially

[2021-07-07 11:31] opoudjis commented on #495
Markup as

[code]

@edhenderson You'll need to talk to whoever is maintaining the source of the BSI document about inserting the class you require. That might be me, but I would need to know which documents are involved.

[2021-07-07 11:33] #495 closed

[2021-07-09 10:35] #492 closed

[2021-07-09 10:39] Intelligent2013 commented on #486
Here is xslt module: [base.standard.zip](https://github.com/metanorma/metanorma-standoc/files/6790677/base.standard.zip)

[2021-07-09 13:48] opoudjis commented on #468
Hence: `options="noital,noref"`

[2021-07-12 02:41] ronaldtse commented on #468
Are you saying that this syntax:
[code]

Is required for content in the document outside of the T&D section? Because this will be very cumbersome.

As you can imagine, there are a lot more terms in content vs in T&D.

[2021-07-12 10:22] ryzokuken commented on #482
still seeing this error on 1.10.0 @opoudjis

[2021-07-12 12:02] ronaldtse commented on #482
Reopening. Sorry @ryzokuken about this. @opoudjis could you help check? Thanks.

[2021-07-12 15:10] #488 closed

[2021-07-13 01:56] opoudjis commented on #468
Not at all, the ISO options will override these.

Am switching the options to include explicit ital, ref, as well, since we will also want to assert that there should be italics or references when by default there isn't.

[2021-07-13 02:28] ronaldtse commented on #468
Thank you -- this is a sane addition. I wonder if the `noital` stuff can be generalised as `!{option name}` or `no{option name}`.

[2021-07-13 04:24] opoudjis commented on #468
Generalising no as prefix is fine

[2021-07-13 04:44] ryzokuken commented on #482
No worries @ronaldtse, hope we @opoudjis can figure out what's wrong :smile:

[2021-07-13 09:59] #468 closed

[2021-07-13 11:02] opoudjis commented on #485
Expediting for https://github.com/metanorma/mn-samples-standoc/issues/1

[2021-07-13 12:10] #485 closed

[2021-07-13 12:28] opoudjis commented on #482
The error is eliminated in the standoc gem, but there is a routine in metanorma-ietf that was putting it right back in. Fixed.

You will need to

[code]

until next Monday.

[2021-07-13 12:28] #482 closed

[2021-07-23 02:12] opoudjis commented on #440
Doing optimisation of the splitting

[2021-07-23 11:35] CAMOBAP commented on #383
Done

[2021-07-23 11:35] #383 closed

[2021-07-23 12:01] opoudjis commented on #440
Problem: index of collection which contains attachments and sectionsplit (a) does not show the division of the source document into subdocuments, and (b) is displaying the attachments, which is undesirable: the attachments are linked to inline from the Annex of our target document.

(a) is happening because the collection cover is being generated before the files are processed, and the sectionspli

[2021-07-23 13:19] opoudjis commented on #440
Run fontist installation only once per collection.

Add bibliographic entry only once per filesplit: if already have hidden ref in place for internal reference, don't generate a new one.

[2021-07-23 13:58] opoudjis commented on #440
Down to 10 mins from 59, though there will be errors in there, which I can now start debugging, because the compilation time is reasonable

[2021-07-25 15:38] opoudjis commented on #440
collection cover for sectionsplit file was overwriting collection cover for entire collection. Collection was splitting input sectionsplit file twice.

[2021-07-25 17:00] opoudjis commented on #440
Almost there, but now links to attachments are broken, and they used to work.

[2021-07-26 09:57] ronaldtse commented on #460
This will be fixed here: https://github.com/metanorma/libemf2svg/issues/14

[2021-07-26 13:03] opoudjis commented on #440
Fixed.

[2021-07-26 13:06] #440 closed

[2021-08-13 06:28] ronaldtse opened #505 "Consider auto-definition of bibliographic anchors"
When I add a new term from ISO OBP, it is cumbersome to format the identifier and copy it into the bibliography.

Currently I have to:

1. Find the term on ISO OBP, e.g.
<img width="930" alt="Screenshot 2021-08-13 at 2 25 16 PM" src="https://user-images.githubusercontent.com/11865/129314155-538cdffc-9099-477e-aef2-6efffefb096e.png">

2. Then I have to copy the text:

and format it into
[code]

3.

[2021-08-16 07:26] ronaldtse opened #507 "Retain AsciiMath/LaTeX math in Presentation XML (needed in BIPM SI Brochure)"
From @Intelligent2013:

@opoudjis can we add AsciiMath/LaTeX math in presentation xml? For example, in a tag like `asciimath`, or as comment immediaterly after/before mathml tag?

_Originally posted by @Intelligent2013 in https://github.com/metanorma/bipm-si-brochure/issues/118#issuecomment-864149274_

[2021-08-17 11:51] opoudjis commented on #486
Using, thank you

[2021-08-17 12:36] opoudjis commented on #486
Not working:

[code]

[2021-08-17 12:37] Intelligent2013 commented on #486
@opoudjis  How can I repeat it?

[2021-08-17 12:45] opoudjis commented on #486
bundle exec asciidoctor -b standoc -r metanorma-standsoc a.adoc

Where the Gemfile includes

gem "metanorma-standoc", git: "https://github.com/riboseinc/metanorma-standoc", branch: "feature/pdf-compile"

[2021-08-17 13:22] Intelligent2013 commented on #486
Namespace changed from `https://www.metanorma.org/ns/iso` to `https://www.metanorma.org/ns/standoc` in the xslt.

[2021-08-17 14:27] #486 closed

[2021-08-17 15:05] opoudjis commented on #507
It would be likelier that we translate MathML back to LaTeX or asciimath, as we unilaterally convert asciimath to MathML in the semantic XML, and we cannot guarantee that MathML is what has been data entered in the first place, instead of LaTeX or indeed MathML.

I can certainly add in AsciiMath as an ignorable rendering of MathML in the PresentationXML: https://github.com/plurimath/mathml2asciima

[2021-08-18 01:25] ronaldtse commented on #507
@opoudjis that would be very helpful because in the resulting HTML/PDF, it is likely we need to retain the source to allow others to "copy/paste".

[2021-08-19 13:08] manuel489 opened #513 "Compilation failure on version 1.10.4.1"
After updating to *metanorma-standoc 1.10.4.1*, I get compilation failure when trying to build https://github.com/metanorma/ogcapi-processes/pull/4

Part of the error message is:
[code]

If I reverse back to version 1.10.4, problem goes away.

*OS: Linux Ubuntu*

[2021-08-20 12:36] #513 closed

[2021-08-20 13:21] opoudjis commented on #507
I'm not going to enable this by default: it is going to be a whole lot of grinding of calculations that is likely rarely used.  I am not going to "retain" anything, since we cannot guarantee that any mathematics has been entered as asciimath (and indeed, Manuel is entering raw MathML in a document right now). And I don't see how this addresses the request for copy-pasting.

I'm going to add for no

[2021-08-20 13:54] opoudjis commented on #507
[code]

[2021-08-25 13:21] Intelligent2013 commented on #507
@opoudjis as I've proposed in the initial request, I can read text markup from the comment. So your example is workable for me.

[2021-08-25 14:15] opoudjis commented on #507
OK, question for @ronaldtse as to whether this should be done for all flavours or just for BIPM, and whether we enable it by default or optionally.

[2021-08-26 09:02] ronaldtse opened #515 "Support manual specification of table of contents not using XPaths"
_Enhancement to https://github.com/metanorma/metanorma-bipm/issues/148_

Assigning roles to sections, then specifying the TOC command to find the sections.

We already support the `variant-title` attribute, we only need to allow encoding the table of contents as a list.

## Option 1

[code]

## Option 2

[code]

The corresponding XML should be encoded in the semantic/presentation XMLs.

[2021-08-30 19:57] Intelligent2013 commented on #507
@opoudjis how can I enable AsciiMath generation in comments for BIPM brochure?
Generated xml  by `bundle exec metanorma -t bipm -x presentation sources/si-brochure-en.adoc` doesn't contain comments in `math`.

metanorma updated, current versions:
- metanorma-standoc (1.10.5),
- metanorma-bipm (1.1.8)

[2021-09-06 02:45] ronaldtse commented on #460
The Ruby gem emf2svg is now available at https://github.com/metanorma/emf2svg-ruby . This task is now live.

The work to be done here is to integrate into Metanorma the image file conversion from `*.emf` to `*.svg`.

[2021-09-06 06:50] ronaldtse opened #520 "`keep-separate` not working when a table precedes a NOTE block (NOTE not kept separate)"
From @opoudjis :

Unfortunately that method is not working when the preceding block is a table where the NOTE block follows.

e.g.

[code]

[2021-09-06 11:13] opoudjis commented on #520
It's

[code]

Implementing now.

[2021-09-06 11:19] #520 closed

[2021-09-07 03:24] ronaldtse commented on #255
As @opoudjis rightfully pointed out, a definition is paired with notes and examples too, so the current model of only allowing "definitions + sources" is simplistic. I don't think we've run into a real-world need on this yet, but good to keep in mind.

[2021-09-07 11:27] opoudjis commented on #255
Adding to Metanorma syntax, for https://github.com/metanorma/metanorma-ogc/issues/232

[code]

[2021-09-07 11:35] opoudjis commented on #255
Hitherto, term definitions have been the first paragraph encountered in a term clause, that did not involve alt or deprecated macros: it's the first proper paragraph in a term section.

We will keep that as a default, but in order to allow flexible markup of complex term structures, we will also be using open blocks with roles for the more complex structures foreseen here. In this instance, we wil

[2021-09-07 15:22] opoudjis opened #524 "Preserve case in locality"
Allow locality:URI in erefs, to be rendered as URI not Uri.

[2021-09-07 15:48] opoudjis commented on #524
So `<<x,locality:URI="http://xyz">>` will render as _URI: http://xyz_

[2021-09-07 15:48] #524 closed

[2021-09-08 04:11] ronaldtse opened #526 "Term source linking to URI should display in capital letters "URI" not "Uri""
From https://github.com/metanorma/ogc-citygml-xmi/pull/70:

<img width="862" alt="image" src="https://user-images.githubusercontent.com/11865/132445273-795e85d6-7284-46be-a591-7b9b7a0b7995.png">

[2021-09-08 12:00] opoudjis commented on #526
That's been anticipated, but you need to pull isodoc and metanorma-utils as well. Please confirm.

[2021-09-09 00:34] ronaldtse commented on #526
Confirm fixed. Thanks @opoudjis !

<img width="977" alt="Screenshot 2021-09-09 at 8 34 01 AM" src="https://user-images.githubusercontent.com/11865/132603298-ca357434-d171-427b-a673-28273e40f6ec.png">

[2021-09-09 00:34] #526 closed

[2021-09-09 15:31] Intelligent2013 opened #528 "AsciiMath in presentation XML for BIPM SI Brochure"
Source: https://github.com/metanorma/metanorma-standoc/issues/507

@opoudjis how can I enable AsciiMath generation in the comments for BIPM brochure?
xml generated  by `bundle exec metanorma -t bipm -x presentation sources/si-brochure-en.adoc` doesn't contain comments in math.

AsciiMath generation in the comments working, in principle, for some cases. For example, for BSI documents, if source ado

[2021-09-11 14:36] opoudjis commented on #528
Omission particular to BIPM (which has its own approach to generating math expressions): fixed.

[2021-09-11 14:36] #528 closed

[2021-09-12 13:19] ronaldtse opened #531 "Remove stale `.tex` file probably committed by mistake"

[2021-09-13 05:32] ronaldtse commented on #289
This has been implemented as smart terms references by @opoudjis across flavors . Closing.

[2021-09-13 05:32] #289 closed

[2021-09-13 10:34] opoudjis commented on #305
But we have lost the IDREF validation for xrefs that point to a destination within the document, without an #. We will restore that functionality as a coded validation step.

[2021-09-13 10:36] ronaldtse commented on #305
Thank you @opoudjis !

[2021-09-14 14:01] opoudjis commented on #515
We had concluded that Option 4 was by far the simplest thing to implement,  and was entirely adequate for the BIPM brochure.

[2021-09-15 12:53] opoudjis commented on #515
What is to be actioned therefore is a `[toc]` container containing subclauses as well as lists.

[2021-09-15 14:51] opoudjis commented on #515
Implemented as:

[code]

If you don't provide text in the xrefs in the ordered list, the text will be retrieved from the variant title of type toc in the section referenced, or failing that the proper title of the section referernced.

[2021-09-15 14:51] #515 closed

[2021-09-22 14:19] opoudjis commented on #460
@Intelligent2013 We have an issue now that Word prefers EMF files, and HTML and PDF prefer SVG. If I find an EMF file in source, I'd rather not convert it to SVG in Presentation XML, and then convert to EMF again for Word: the round trip conversion may be lossy. Instead, I'd like to mark up images in Presentation XML to contain both svg and emf, so that Word can pick the latter, and HTML and PDF c

[2021-09-22 15:32] Intelligent2013 commented on #460
@opoudjis ok, no problem, then xslt will just ignore the element `emf`, and display `svg` as currently.

[2021-09-23 13:16] opoudjis commented on #460
efm2svg is forcing update to Nokogiri 1.12

[2021-09-23 13:18] ronaldtse commented on #460
Agree and good solution, thanks.

[2021-09-25 08:06] opoudjis commented on #460
@Intelligent2013

Henceforth, any svg in the PresentationXML will be marked up as `<image><svg/><emf/></image>` for this reason. So:

[code]

Please replace any instances of `//img[svg]` with `svg` in the XML you receive, to get the same results as before.

[2021-09-25 13:35] Intelligent2013 commented on #460
@opoudjis done.

[2021-09-27 09:47] opoudjis opened #535 "Move external-path to metanorma-utils"

[2021-09-27 10:21] #535 closed

[2021-09-27 10:28] #460 closed

[2021-09-27 11:01] opoudjis opened #536 "Concept xref within xref"
`{{<<xxx>>,yyy}}`: does it work? Should it?

[2021-10-02 12:17] opoudjis commented on #536
The intent of this syntax, presumably, is to insert an explicit cross reference into the concept, rather than rely on the implicit anchors of terms.

Right now, any anchor that is not a term or definition will abort execution, and that's something you have explicitly asked for.

This syntax right now *almost* works:

[code]

generates

[code]

That means that Metanorma correctly processes the cros

[2021-10-02 12:29] #536 closed

[2021-10-02 13:35] opoudjis commented on #420
This is not an attribute of a document, but of rendering: it will be passed as an argument to isodoc, and thence to PDF generation.

[2021-10-02 13:39] opoudjis commented on #420
`@name` is already in use, as is `@label`; make it `@tag`

[2021-10-02 16:28] opoudjis commented on #420
@Intelligent2013 I can pass you the contents of `align-cross-elements` as a command line option, you would just need to tell me how.

[2021-10-02 18:30] Intelligent2013 commented on #420
@opoudjis here https://github.com/metanorma/metanorma-bipm/issues/101#issuecomment-766767378 we've decided:

as I understand, now is preferable for you to pass this cmd parameter for mn2pdf, right?

Then you can do so (but I have to add the processing of it):
`java -Xss5m -Xmx2048m -jar mn2pdf.jar --xml-file ... --xsl-file ... ... --align-cross-elements`

Another option - add the tag `metanorma-co

[2021-10-03 18:34] Intelligent2013 commented on #420
**update**:
@opoudjis sorry, I've forget that `align-cross-elements` isn't true/false element, but contains a list of elements. So then command line is:
[code]
(new parameter is `--param align-cross-elements="clause note title terms term termsource`)

or values separated by comma:
[code]

[2021-10-04 11:46] #420 closed

[2021-10-04 13:18] opoudjis commented on #305
I'm also not going to raise error on fatal validation issues, because I want validation to log all issues with the file, not just the first.

[2021-10-04 13:56] #305 closed

[2021-10-04 14:01] #480 closed

[2021-10-04 16:11] CAMOBAP opened #539 "Windows issue: jing.rb:127:in `split': invalid byte sequence in UTF-8"
`C:/tools/ruby30/lib/ruby/gems/3.0.0/gems/ruby-jing-0.0.1/lib/jing.rb:127:in `split': invalid byte sequence in UTF-8 (ArgumentError)`

We mentioned it somewhere previously didn't managed to find it, now I was able to reproduce it on my own on mn-samples-iso on MSEdge VM

[2021-10-04 20:59] CAMOBAP commented on #539
PR is prepared https://github.com/sshaw/ruby-jing/pull/1

The gem wasn't updated for more than 8 years, let's wait some time and then think about a workaround on our end if it's not possible to merge it

[2021-10-07 13:14] #24 closed

[2021-10-07 15:52] ronaldtse commented on #24
@opoudjis can you help document this algorithm somewhere in text? Thanks!

[2021-10-08 05:35] ronaldtse opened #541 "HTML compilation fails when PlantUML is not available"
Reported by OGC @gbuehler

As PlantUML is an optional dependency, not having it installed should not fail Metanorma compilation.

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-cli/issues/254#issuecomment-938357592_

[2021-10-08 05:35] ronaldtse commented on #541
Maybe a warning is more appropriate here.

[2021-10-08 12:15] opoudjis commented on #541
There already is a warning being issue. The issue is not standoc at all; if it was, you wouldn't even be getting PDF output. It is isodoc HTML not dealing for some reason with raw PlantUML input. Will try to replicate; if I cannot, I will need OGC to provide me their PlantUML.

[2021-10-08 15:51] CAMOBAP commented on #539
@Intelligent2013 awesome suggestion, thanks. I need to check it, but I'm sure that this is exactly what we need.
Also to be on the same page, how do you think will this approach be better than global `JAVA_OPTS` env?

@ronaldtse I agree that we need to add this to PR.

Also, I still think that better to get an error message with `?` than no error message at all, in the case of wrong encoding
So I

[2021-10-08 20:28] Intelligent2013 opened #542 "Missing terms references (in the different sections)"
Source: https://github.com/metanorma/mnconvert/issues/79#issuecomment-938975648

From: https://github.com/metanorma/mnconvert/issues/79#issuecomment-939066397

Source STS pdf: https://github.com/metanorma/mn-samples-bsi/blob/master/reference-docs/standards/bs-202000/BS-202000.pdf

Adoc: https://github.com/metanorma/mn-samples-bsi/blob/master/sources.mnconvert/standards/bs-202000/sections/03-terms.

[2021-10-12 02:51] ronaldtse opened #543 "Support spell checks in content"
Spell checks are difficult to execute across source files.

Metanorma XML should support spell checks (given some dictionary, e.g. via [nuspell](https://nuspell.github.io), `cspell`).

* every flavor can determine their language / dictionary
* spell checks to be skipped in source code and math content

Ideally we would use `nuspell` but it's Ruby binding does not yet exist, it was mentioned that t

[2021-10-12 12:46] opoudjis commented on #541
If I add `@enduml` at the end, the PlantUML compiles correctly.

The code deals with a missing `@startuml` and `@enduml`; it doesn't deal with a mismatch. I can fix this, but frankly, I think I should not: we don't know why there is a mismatch in the PlantUML source, and whether the missing final line may reflect other missing lines.

[2021-10-12 12:48] opoudjis commented on #541
I'm going to raise an error if startuml and no enduml instead.

[2021-10-12 13:34] opoudjis opened #546 "Enable export of terms from Metanorma XML to glossarist"

[2021-10-12 13:42] opoudjis commented on #255
I'm not going to pass the syntactic changes along to Presentation XML: they will continue to look like they did to @Intelligent2013

[2021-10-12 13:46] opoudjis commented on #255
Syntax change: `preferred`, `admitted`, `deprecates` from `TextElement+` to:

`Designation`:

[code]

[2021-10-12 14:19] opoudjis commented on #541
I've tested it with PlantUML not installed, and I'm still getting no such crash on HTML. I'm putting this on hold, I simply cannot replicate it.

[2021-10-13 08:20] ronaldtse opened #547 "Handling references to "global document identifiers" not defined in bibliographic entries"
ISOSTS documents sometimes have text like this:

[code]

Here the `iso:std:iso:13485:en` is an ISO URN defined in RFC 5141.

We need to deal with round-tripping. How do we deal with them?

[2021-10-17 14:11] opoudjis commented on #248
Has been done in https://github.com/metanorma/metanorma-standoc/issues/255

[2021-10-17 14:11] #248 closed

[2021-10-20 11:12] opoudjis opened #549 "Related terms renderings"
From https://github.com/metanorma/metanorma-standoc/issues/255

We are adding related terms renderings to Metanorma. We will allow specifying terms that are related to the current term, and how they are related. The possible relations are:

* deprecates:
* supersedes:
* narrower:
* broader:
* equivalent:
* compare:
* contrast:
* see:

And we will be rendering them as paragraphs starting with those

[2021-10-20 14:18] ronaldtse commented on #549
Renderings from ISO 10241-1.

<img width="694" alt="Screenshot 2021-10-20 at 10 08 53 PM" src="https://user-images.githubusercontent.com/11865/138109191-e7e096cd-33da-4ce6-a7fd-1fa6b0e6026a.png">

--------

A.1.3.2.3 Deprecated term(s)
POSITION
Following the admitted term(s), on a new line. If there is more than one deprecated term, each deprecated term follows the previous one on a new line.
STYL

[2021-10-21 21:41] manuel489 opened #550 "Index terms processing messing with cross-reference terms"
*In relation to https://github.com/metanorma/metanorma-bsi/issues/30*

Terms that include index terms do not render properly:

From *bs-0*:

![issue3-generated](https://user-images.githubusercontent.com/33627611/138360335-16961f84-7c99-43ab-ae87-c8f8acf62d43.PNG)

[code]

[2021-11-02 15:58] Intelligent2013 commented on #550
Another example (https://github.com/metanorma/mn-samples-bsi/blob/main/sources.mnconvert/adoptions/bs-en-iso-56000/sections/03-terms.adoc):
adoc
[code]
in metanorma xml, term's id contains `entity` prefix from bookmark after `term-entity`:
[code]

[2021-11-05 08:05] Intelligent2013 opened #556 "Handling smallcap in the middle of word"
Source: https://github.com/metanorma/mnconvert/issues/93

Adoc:
[code]

Metanorma xml contains `[smallcap]` instead of xml tags `<smallcap>`:
[code]

[2021-11-05 18:07] Intelligent2013 opened #557 "Handling localities with custom cross-reference text"
Source: https://github.com/metanorma/mnconvert/issues/94

From https://www.metanorma.org/author/topics/document-format/bibliography/#localities:

[code]

I've tried these cases:
### TC1 (OK). without any text, localities only:
[code]
generated metanorma xml contains pre-rendered localities `Clause <strong> 5</strong>, Table  1`:
[code]
### TC2 (NOT OK). with custom cross-reference text
[code]

gen

[2021-11-16 04:43] #322 closed

[2021-11-16 05:57] ronaldtse opened #558 "yaml2text: `include` command not working within yaml2text block"
From https://github.com/glossarist/iev-document/pull/15

A `yaml2text` block like this
[code]

Results in this:

<img width="788" alt="image" src="https://user-images.githubusercontent.com/11865/141928233-89c72a26-9002-4648-af15-4e22545eb465.png">

This is a `yaml2text` bug that needs to be fixed.

[2021-11-16 06:40] ronaldtse opened #559 "Ruby 3.0 compatibility: do not use `require "uri"`"
These messages keep showing up on every invocation, because a `require "uri"` line is being used. In Ruby 3.0 the `Uri` class is by default available.

[code]

[2021-11-16 06:41] ronaldtse opened #560 "Ruby 3.0 compatibility: remove `byebug` from all gems"
`byebug` is only available on Ruby 2.x and has no replacement on Ruby 3.0. We need to remove all dependencies and mentions of `byebug` from all gems (and gemspecs).

[2021-11-18 13:51] CAMOBAP commented on #539
Merged

[2021-11-18 13:51] #539 closed

[2021-11-22 02:14] ronaldtse opened #564 "(URGENT) Consistent naming of `fieldofapplication` `usageinfo` attributes"
See https://github.com/metanorma/isodoc/commit/b28ccedccbf46866b3dbf1d961fd5232c21b6d86#r60653980 and https://github.com/metanorma/metanorma.org/pull/518#pullrequestreview-812024381

We need a consistent way of naming attributes.

In the implementation you're using `fieldofapplication` (just lowercase), in documentation it is `fieldOfApplication` (lower camelcase). The AsciiDoc convention is hyphe

[2021-11-22 02:48] opoudjis commented on #560
I am using byebug successfully in Ruby 3.0, but I'm noticing that people are starting to have trouble with it, and that it hasn't been updated in a year.

I don't see why I need to switch, but I will switch to https://github.com/ruby/debug ; Rails will switch to it in v7, and it will be included in Ruby as of Ruby 3.1.

[2021-11-22 10:02] opoudjis commented on #560
Addressed the gems I maintain; those maintaining the other gems will need to do likewise.

[2021-11-22 10:02] #560 closed

[2021-11-22 10:43] opoudjis commented on #564
Changes:

* `link/@updatetype` to  `link/@update-type`, with synonym: `link:../parent[update-type=true]`, `link:../parent[updatetype=true]`
* geographic-area, field-of-application, usage-info, grammar-value, grammar-info, verbal-definition, non-verbal-representation

[2021-11-22 11:36] #564 closed

[2021-11-23 13:20] #559 closed

[2021-11-26 06:51] ronaldtse opened #567 "Support PDF watermark labels (support multiple languages)"
From @intelligent2013:

_Originally posted by @ronaldtse in https://github.com/metanorma/bipm-si-brochure/issues/164#issuecomment-979714544_

[2021-11-27 17:13] Intelligent2013 opened #570 "Empty paragraph in definition causing broken "domain" rendering in Metanorma-ISO"
Source issue: https://github.com/metanorma/metanorma-iso/issues/551

Source document: https://github.com/metanorma/iso-19135

The command:
[code]

The element `definition` in the resulted xml is empty:
[code]

Adoc:
[code]

[2021-11-29 03:08] ronaldtse commented on #570
Confirm that this is fixed in https://github.com/metanorma/metanorma-iso/issues/551.

[2021-11-29 03:08] #570 closed

[2021-12-06 04:08] ronaldtse opened #572 "Add image validity check on incorporation (PNG)"
From https://github.com/metanorma/metanorma-ogc/issues/323#issuecomment-986413687

The invalid PNG below was given to Metanorma and failed at Java processing as OpenJDK is unable to read it.

![144447885-088bce62-1c6b-4e04-bffd-531a817e5788](https://user-images.githubusercontent.com/11865/144785806-ab28f3ec-1f00-4509-8235-db7ae5a0996f.png)

This image run through `pngcheck` and it gave the followi

[2021-12-06 04:32] ronaldtse commented on #572
We will incorporate [`pngcheck`](http://www.libpng.org/pub/png/apps/pngcheck.html) as a validation routine, as a Ruby gem that wraps/compiles pngcheck: https://github.com/metanorma/pngcheck-ruby/issues/1

[2021-12-06 14:48] ronaldtse opened #573 "When `inkscape` command is missing from PATH, raise a hard error"
Originally encountered in html2doc where the "image path" specified was empty.

The culprit is a missing `inkscape` command being missing from PATH

Metanorma should immediately fail when Inkscape is not found or when inkscape processing fails.

_Originally posted by @ronaldtse in https://github.com/metanorma/metanorma-ogc/issues/327#issuecomment-986842520_

[2021-12-07 03:55] ronaldtse commented on #573
@CAMOBAP would you be able to handle this? Thanks!

[2021-12-08 12:13] opoudjis commented on #567
As https://github.com/metanorma/bipm-si-brochure/issues/164#issuecomment-979794554 makes clear, there is absolutely nothing for me to do here, that content all exists in Presentation XML already.

[2021-12-08 12:13] #567 closed

[2021-12-08 12:22] ronaldtse commented on #567
@opoudjis we wish to have a way to customise those watermarks.

[2021-12-08 12:28] ronaldtse commented on #567
@opoudjis says that the "draft" labels are internationalised (in metanorma-standoc) and can be overridden in flavor gems. Let's leave the watermark customization until later, until someone really needs it.

[2021-12-14 01:18] opoudjis commented on #75
Related term and grammar added in https://github.com/metanorma/metanorma-standoc/issues/255

[2021-12-24 12:57] opoudjis commented on #542
I had misunderstood the wording in

https://github.com/metanorma/metanorma-iso/issues/517

to mean an entire terms and definitions clause. What was actually meant was a single term entry (which we have already established is not a clause at all!): https://www.iso.org/ISO-house-style.html

[2021-12-24 13:08] #542 closed

[2021-12-25 01:26] opoudjis opened #582 "Genericise recognition of no_year references"
Currently the no_year flag is added to references from ISO and IEC, which don't have a year in the requested code, so that relaton returns the latest matching reference. But this also applies to BSI references; so I need to genericise the processing of no_year flags, not to be SDO-specific.

[2021-12-27 05:53] opoudjis commented on #582
References with years, other than ISO and IEC, were not processing those years at all separately.

[2021-12-30 05:29] #582 closed

[2022-01-03 07:52] ronaldtse opened #586 "Consolidate Ruby module namespace under `Metanorma`"
All code should be consolidated under the `Metanorma` module namespace.

Metanorma relies on three core gems, [`metanorma`](https://github.com/metanorma/metanorma), [`metanorma-standoc`](https://github.com/metanorma/metanorma-standoc) and [`isodoc`](https://github.com/metanorma/isodoc).

Each flavor uses its own `metanorma-XXX` gem that inherits from `metanorma-standoc`.

The problem lies in `meta

[2022-01-06 02:52] ronaldtse commented on #586
Things like "Asciidoctor::Standoc::Base" should just be "Metanorma::Standoc::Base".

[2022-01-06 02:55] ronaldtse opened #588 "All references to `metanorma.com` should be renamed to `metanorma.org`"
We need to link the correct, new pages.
https://github.com/metanorma/metanorma-standoc/blob/6a9446c17d35c106386c9006cb7a06a154bbde77/lib/asciidoctor/standoc/ref.rb#L135-L137

Replacements:
* https://www.metanorma.org/author/topics/document-format/bibliography/
* https://www.metanorma.org/author/iso/topics/markup/#bibliographies

[2022-01-08 21:28] webdev778 commented on #586
The PRs that pass the tests can be merged instantly. The docs can be merged last. Others will either require previous PRs to be merged first or will need some fixes. I included a compatibility layer that we may remove in the future.

[2022-01-09 18:11] webdev778 commented on #586
Do note a test failure in metanorma-iso - it was failing before.

[2022-01-09 18:17] webdev778 commented on #586
The three gems: iso, standoc and generic are required by other gems. Therefore they include a compatibility layer (`lib/asciidoctor`) which can be preserved after we finish this process or we can remove it. The next ones won't, because there's no reason to have it.

[2022-01-09 19:19] webdev778 commented on #586
A test failure in ietf: was failing before.

[2022-01-09 19:27] webdev778 commented on #586
A test failure in un: was failing before.

[2022-01-09 20:04] webdev778 commented on #586
A test failure in ribose: was failing before

[2022-01-09 20:09] webdev778 commented on #586
Done!

[2022-01-09 20:21] webdev778 commented on #586
The repos that are unmaintained yet would also benefit from an upgrade if they were up to date:

- metanorma-vg
- metanorma-sample
- metanorma-gb
- asciidoctor-rfc

[2022-01-10 02:53] ronaldtse commented on #586
We need to merge these:

Crucial, part 1
* https://github.com/metanorma/metanorma-standoc/pull/589

Crucial, part 2 (After part 1 merged)
* https://github.com/metanorma/metanorma-generic/pull/67
* https://github.com/metanorma/metanorma-iso/pull/574

Porting (the rest will pass once Crucial ones merged)
* https://github.com/metanorma/metanorma-cc/pull/136
* https://github.com/metanorma/metanorma-bi

[2022-01-10 18:07] ronaldtse commented on #586
All done. Thank you @webdev778 @opoudjis !

[2022-01-10 18:07] #586 closed

[2022-01-18 12:30] opoudjis commented on #75
... We could do that, but I don't now think we should: Parts are routinely published as completely different documents, with different identifiers; effacing their differences as extents, as if they are chapters of a monograph, would be misleading.

[2022-01-18 12:33] opoudjis commented on #75
... No, don't think that's necessary.

[2022-01-18 12:33] #75 closed

[2022-01-27 12:34] opoudjis opened #594 "Remove /person/contact/uri"
There is no good reason to have both /person/contact/uri and /person/uri, and both /organization/contact/uri and  /organization/uri, in the Biblio model. I shall eliminate the former of the pair. Need to ensure that /person/contact/uri  is no longer invoked by Metanorma.

[2022-01-31 10:45] opoudjis commented on #594
Actually, turns out that the second uri is redundant in the grammar:

[code]

I just need to get rid of `uri` after `contact`

[2022-01-31 10:45] #594 closed

[2022-01-31 13:16] opoudjis commented on #541
I'm closing this, I have no evidence this is a concern any more.

[2022-01-31 13:16] #541 closed

[2022-01-31 20:06] ronaldtse opened #595 "(URGENT) Broken passing of `--param baseassetpath= "xxx"` to mn2pdf"
https://github.com/metanorma/metanorma-standoc/blob/14ab960fb93acead0ac6356bacddf6b9a77d292e/lib/metanorma/standoc/render.rb#L62

There seems to be an issue with the `baseassetpath` parameter, it's adding an empty space between `baseassetpath=` and the actual argument `"/builds..."`

[code]

[2022-02-08 02:11] opoudjis commented on #556
Good news and better news.

Good news, although this isn't actually documented properly, if you use double ##, the markup will be recognised mid-word, as is the case for other unconstrained inline markup (`text__text__text`, `text**text**text`). So `I[smallcap]##nternational##` works.

Better news: just use `[smallcap]#International#`. smallcap only applies to lowercase letters: the smallcap of a

[2022-02-08 02:11] #556 closed

[2022-02-08 08:56] Intelligent2013 commented on #556
@opoudjis thanks.

[2022-02-08 11:07] opoudjis opened #597 "plantuml not installing in GitHub Actions for Windows"
https://github.com/metanorma/metanorma-standoc/runs/5107935292?check_suite_focus=true

[2022-02-08 15:21] CAMOBAP commented on #573
In progress

[2022-02-08 23:55] ronaldtse commented on #573
Thanks @CAMOBAP !

[2022-02-10 18:35] CAMOBAP commented on #595
- https://github.com/metanorma/mn2pdf-ruby/pull/28 - ready for review

[2022-02-16 11:58] #550 closed

[2022-02-16 12:37] Intelligent2013 commented on #550
@opoudjis thanks!

[2022-02-16 14:11] opoudjis commented on #547
Clearly std-ref is the ISO canonical identifier, so `std/std-ref` becomes `<docidentifier type="ISO">`, and `std/@std-id` becomes `<docidentifier type="ISO-URN">`; we add the latter to any bibitems on converting the document into Metanorma XML, and use that docidentifier for round-tripping.

... Can I close this ticket, or assign it to @Intelligent2013?

[2022-02-16 16:08] ronaldtse commented on #547
@opoudjis do you mean we already have a mechanism to do this (link content to a ISO URN reference without defining in the bibliography) in Metanorma AsciiDoc?

[2022-02-17 00:22] opoudjis commented on #547
No, I just meant that if we inject that URN into the bibitem on conversion to Metanorma XML, we can do round tripping. If we're converting into Asciidoc, we can't do that right now, but it seems to me these URNs should be predictable, so they can be inserted by Relaton anyway.

I am not sure I understand what you are trying to do here though...

[2022-02-19 06:26] opoudjis commented on #547
No, that is unnecessary, and frankly, voodoo. We are not going to dumb down our rigorous bibliographical practice just because ISO STS does.

The real solution is to include the reference and then hide it in the bibliography, something already implemented:

[code]

Alex Dyuzhev has already been hiding bibliographic entries a lot.

Looking up the ISO URN would be an issue whether the bibliographic

[2022-02-19 15:43] opoudjis commented on #342
Done xrefs rendering, not yet done erefs rendering

[2022-02-20 11:23] opoudjis commented on #342
Done erefs. Now need to propagate to flavours, including in particular the ISO suppression of "Clause" for subclauses.

[2022-02-22 19:55] ronaldtse commented on #547
@opoudjis I'm not convinced this is voodoo -- a link of "urn:iso:xxx" is by nature just like a link of "https://xxx". This is not voodoo also because this item does not appear in the bibliography. I feel that sometimes we are given a hammer and we treat everything as a nail. But maybe this is a different kind of nail...

We need to distinguish what is a bibliographic item vs what is a simple link.

[2022-02-23 10:32] opoudjis commented on #547
Links are HTTP URI. DOIs are HTTP URIs. Handles, URNs, ARKs, and all the other schemes that avoid HTTP but seek to be identifiers are not inherently resolvable, and are therefore no different than ISO native identifiers like ISO 13485. Without a resolver service, they are just document identifiers, and the way we make sense of document identifiers is with. our. hammer.

If you want `link:std-ref[I

[2022-02-26 07:44] opoudjis commented on #158
This ticket is seeking to extend the functionality of Tables of figures, requirements, and tables beyond OGC, where they are mandatory.

It will be done as follows:

* Tables of figures, requirements, and tables shall be optional, requested by document attributes
* A placeholder for any one of these optional tables of contents shall be signalled by the inclusion in PresentationXML of the element `

[2022-02-26 07:45] opoudjis opened #605 "PDF: allow inclusion of table of contents of figures, tables, requirements in all flavours"
Follow-on from https://github.com/metanorma/metanorma-standoc/issues/158

* A placeholder for any one of these optional tables of contents shall be signalled by the inclusion in PresentationXML of the element `<toc type="table|figure|requirement"><title>...</title></toc>` within the misc-container, where title is the localised title of the type of table of contents.
* ToC are currently implemented

[2022-02-26 07:58] ronaldtse commented on #158
Yes this is very useful still. We would like to allow flavors (better yet, the user) to customise when this behavior is applied.

[2022-02-28 10:14] #158 closed

[2022-03-01 05:30] ronaldtse commented on #547
Relaton already has a URN resolver to the ISO website. However, not ALL ISO URNs are resolvable. There may or may not be a hyperlink.

[2022-03-01 20:09] Intelligent2013 commented on #605
Xslt updated.
Notes:
- BSI: contains figures and tables titles already as entries in the main ToC
- IEC: ToC contains list of tables and figures already
- ITU: ToC contains list of tables and figures for 'Technical Report' and 'Technical Paper' by default
- NIST-CSWP: there isn't ToC at all
- OGC White-paper: consolidated list of tables and figures displayed under the title 'Table of Figures' alre

[2022-03-01 20:09] #605 closed

[2022-03-02 12:04] #597 closed

[2022-03-02 13:45] opoudjis commented on #547
Proceeding with syntactic sugar implementation:

[code]

is equivalent to

[code]

Once Relaton can fetch documents by URN, std-link will process them as well. I don't see the need to have two distinct macros, the URN should be identifiable, and if it isn't, we can just prefix it with `URN`.

[2022-03-02 13:47] opoudjis commented on #547
If there isn't a hyperlink, then we don't render a hyperlink. Oh well. Doesn't impact the implementation.

[2022-03-06 03:26] opoudjis commented on #547
We are not doing `link:standard-urn[]` for now; once URN resolution is enabled, I will work out how to differentiate URN rendering, if that is even necessary. Right now, URNs do not resolve, but they will be passed on as document identifiers, so `link-std:[URN]` will in fact render as `URN`.

Hyperlink to bibliography entry needs to be suppressed in isodoc, since there is no bibliographic entry an

[2022-03-06 04:30] ronaldtse commented on #547
I don't know when or if that will happen... Let's see.

[2022-03-06 04:40] opoudjis opened #608 "Do not hyperlink to hidden bibitem"
Follow-on from https://github.com/metanorma/metanorma-standoc/issues/547

`<eref bibitem="X"/>` in HTML and Word hyperlinks either to `bibitem[@id = 'X']/uri[@type = 'citation']`, if provided, or else to `bibitem[@id = 'X']`. So:

[code]

renders as:

[code]

In  https://github.com/metanorma/metanorma-standoc/issues/547, I am changing this behaviour if `bibitem[@type = 'hidden']`:

If `bibitem[@id

[2022-03-06 05:21] #547 closed

[2022-03-06 13:41] Intelligent2013 commented on #608
Xslt updated.

[2022-03-06 13:41] #608 closed

[2022-03-07 08:21] #573 closed

[2022-03-15 04:11] ronaldtse opened #613 "Term references: unable to use `alt:[...]` terms as term reference"
[code]

The `{{SRL}}` bit fails, it only accepts `{{STEP Resource Library}}`.

[2022-03-15 04:12] ronaldtse commented on #613
Once this is implemented we should add documentation for it.

[2022-03-17 00:51] opoudjis commented on #445
First one has now been fixed, as a result of https://github.com/metanorma/metanorma-nist/issues/301

Second should be a quick fix: the smart quote detector skips `<index>...</index>` text as having non-rendered text, but needs to assume that `<xref>, <eref>, <link>` will in fact contain text, though they don't in Semantic XML.

[2022-03-17 09:46] #445 closed

[2022-03-17 10:40] #613 closed

[2022-03-20 22:59] opoudjis commented on #479
There is semantic markup in ISO DIS Word, which needs to be made possible (https://github.com/metanorma/metanorma-iso/issues/595)

[2022-04-05 04:06] ronaldtse opened #618 "Supporting additional fonts per-document"

[2022-04-06 08:11] Intelligent2013 commented on #618
@opoudjis could you pass the value from `:fonts: Euphemia` into presentation xml also? I have to pass this parameter into the xslt, otherwise xslt doesn't know about new font, even if it presents in the fontist's manifest. Thanks.

[2022-04-13 13:12] opoudjis opened #620 "Crash specific to GHA rubygems for Ruby 3.0"
Sorry i can't understand what is going wrong, but it has now occurred twice.

https://github.com/metanorma/metanorma-standoc/runs/6007800343?check_suite_focus=true

[2022-04-13 14:29] opoudjis commented on #620
Also turning up in

https://github.com/metanorma/isodoc/runs/6008906851?check_suite_focus=true

[2022-04-13 14:46] opoudjis commented on #618
I think this is an ad hoc solution to the problem of font coverage of scripts, but it's going to be a requirement inevitably.

I'm going to shove the fonts values into Presentation XML as

[code]

[2022-04-13 15:13] ronaldtse commented on #618
@opoudjis we probably don't need to prefix `mn-` in front of the parameters. We already have many attributes that do not use `mn-` but are in any case only understandable by Metanorma.

[2022-04-13 19:25] ronaldtse opened #621 "Handling multiple concept fields/planes/domains"
As discussed with @opoudjis , this work integrates a few components we already have.

Use case: I want to have a concept dictionary that is composed of multiple concept fields, represented in Metanorma. This need is already shown in ISO 10303-2.

ISO 10303-2 contains:
* normal Clause 3 terms in clause 3
* EXPRESS application integration modules in clause 4
* EXPRESS module-integration modules in c

[2022-04-13 20:14] CAMOBAP commented on #620
looks like broken damaged version of gems was cached, looking for some way to drop the cache without workflow change

[2022-04-13 20:35] ronaldtse commented on #620
Is this because of https://github.com/metanorma/emf2svg-ruby/issues/28 ?

[2022-04-13 21:15] CAMOBAP commented on #620
I don't think so, btw cache invalidation doesn't help

There are https://github.com/rubygems/rubygems/issues/5161 and https://github.com/rubygems/rubygems/issues/5160 (which is fixed, I will check ruby/ruby-setup if it updates rubygems

[2022-04-14 04:35] CAMOBAP commented on #620
Issue happens for 3.0.4, but it doesn't exists on 3.0.3, checking https://github.com/ruby/setup-ruby/issues

[2022-04-14 10:14] CAMOBAP commented on #620
Also, I have found out that removing [the first two encoding lines](https://github.com/metanorma/metanorma-standoc/blob/main/Gemfile#L1-L2) fixes the problem, but this is definitely not a solution which we want

Investigation in progress

[2022-04-14 12:25] opoudjis commented on #618
I do not understand at all the distinction between font font names and font formula names that is being made by @ronaldtse and, more importantly, the https://github.com/fontist/fontist README doesn't. I'm therefore treating them the same.

[2022-04-14 12:30] ronaldtse commented on #618
@opoudjis maybe only do the fonts. Ignore "font family".

[2022-04-14 12:44] opoudjis commented on #618
Because I don't actually understand the confirmation options, please tell me whether this code does what is requested or not:

[code]

[2022-04-14 14:05] ronaldtse commented on #618
@opoudjis can you put this into a PR so @CAMOBAP can test/review? Thanks.

[2022-04-15 06:19] CAMOBAP commented on #620
Proposed if is https://github.com/metanorma/metanorma-build-scripts/commit/5729cc66296f4c3deb2f6ff5f66c6cfe104bb754

I know that we have the same issue for `isodoc` and probably for other repos too, so I will update other workflows too (luckily now we can do it in a single place)

@ronaldtse @opoudjis any thoughts on the solution?
*I didn't applied this for all ruby version just because this may h

[2022-04-15 06:44] ronaldtse commented on #620
I'm sure people don't upgrade rubygems directly, and we're trying to make people use the packed-mn or Docker version.

[2022-04-15 14:19] Intelligent2013 commented on #618
@opoudjis no need to pass a new info about additional fonts as separated parameter.

Just FYI, how Apache FOP (xsl-fo) works:
- in xslt there is parameter font-family, for instance `Cambria, Times New Roman, Cambria Math, Source Han Sans`.
- when xsl-fo processor (Apache FOP) tries to find glyph for some character, it opens first font and use glyph from it if found, otherwise opens 2nd font and us

[2022-04-15 16:35] ronaldtse commented on #618
I think a font manifest should technically go into Presentation XML. Before the Presentational XML is rendered into other formats, Fontist can use the font manifest to ensure the fonts are installed.

Right now, mn2pdf takes the font manifest file directly which already contains the full locations of the fonts.

[2022-04-15 17:00] opoudjis commented on #479
First step, now that relaton-render is refactored, is to overwrite the NIST invocation of references rendering in NIST Presentation XML with the output of relaton-render.

Then, back port relaton-render into isodoc, and then, overwrite its default, ISO 690 output with the configured out for the flavours given above.

[2022-04-17 11:50] opoudjis commented on #618
I have no idea what the desired format is, or how to generate it from a flavour. Someone is going to have to tell me, given that this is not documented in fontist.

[2022-04-18 18:25] Intelligent2013 commented on #618
@opoudjis FYI, I've found some strange behavior.
1. Test case 1:
[code]
Resulted presentation xml contains `misc-container`:
[code]

2. Test case 2 - there isn't another metadata options except 'fonts' features:
[code]
Resulted presentation xml doesn't contain `misc-container`:
[code]

[2022-04-19 09:14] opoudjis commented on #620
This is now blocking release, none of the gems are passing, including metanorma-docker.

[2022-04-19 09:45] ronaldtse commented on #620
Merged that PR. Thanks! Hope it works now.

[2022-04-19 14:05] opoudjis opened #627 "rename link to uri"
cc @Intelligent2013 @andrew2net

I've just discovered that hyperlinks are tagged as `link` in Metanorma, and `uri` in Relaton. (That's a legacy issue: I thought the tag `uri` was breaking Nokogiri at the very start of implementing Metanorma, but it turned out to be a well-formedness issue with the document I was processing.)

The discrepancy is bad, and needs to go away. Either basicdoc/metanorma

[2022-04-19 14:06] opoudjis commented on #627
@Intelligent2013 do not action until I've actioned

[2022-04-20 05:37] opoudjis commented on #627
False alarm, guys. uri is about URIs as a standalone element within a bibliographic description, link is for hyperlinks embedded in text in Metanorma/BasicDoc. The distinction is valid, and remains.

[2022-04-20 05:37] #627 closed

[2022-04-20 12:39] #479 closed

[2022-04-22 11:01] opoudjis commented on #479
@Intelligent2013 : henceforth, formattedref replaces the content of bibitem in Presentation XML, with three exceptions retained, which I believe to be necessary to process separately.

* docidentifier, to generate reference tags
* uri, in order to enable hyperlinking to be inserted into cross-references
* note, in order to enable footnotes to be inserted after the reference tag (which we process s

[2022-04-25 09:57] Intelligent2013 commented on #618
@opoudjis you can ignore my previous comment:

I've made patch in xslt already in https://github.com/metanorma/mn-native-pdf/issues/361.

[2022-04-25 15:34] opoudjis commented on #618
As I've said, I don't know what I'm supposed to be doing here. If @ronaldtse and/or @Intelligent2013 you are happy with the implementation, please close the ticket; if not, please tell me what I need to do.

[2022-04-27 03:40] ronaldtse commented on #618
@opoudjis this functionality is not completed -- i.e. Fontist is not installing or using the specified fonts.

@CAMOBAP can you please help?

[2022-04-27 03:43] ronaldtse commented on #618
For the record (cc: @ribose-jeffreylau ), I found out that ["Noto Sans Canadian Aboriginal"](https://fonts.google.com/noto/specimen/Noto+Sans+Canadian+Aboriginal) provides Canadian Syllabics. This is probably better than using a font only free for personal use.

[2022-04-28 14:44] #620 closed

[2022-04-28 14:49] opoudjis opened #629 "tag on notes, admonitions"
Currently, if a note or admonition has no caption in the Presentation XML, you and I both supply the type of the admonition of a label; so:

[code]

is rendered as:

[code]

But this is not doing internationalisation, and it is not allowing for the dropping of labels.

I will be addressing this in Presentation XML for https://github.com/metanorma/metanorma-iso/issues/642. I will be populating `not

[2022-05-04 01:46] ronaldtse commented on #319
@opoudjis Relaton already supports BibTeX parsing and importing as a Relaton data source: https://github.com/relaton/relaton-bib/issues/57 .

This was recently requested here:
https://github.com/metanorma/metanorma-ogc/issues/329

[2022-05-04 01:55] ronaldtse commented on #319
We currently have a document attribute that sets the relaton dataset as `:local-cache:`, but it should likely be just a generic relaton source location:
https://www.metanorma.org/author/ref/document-attributes/

For BibTeX, we could use:
[code]

and we can refer to as:
[code]

[2022-05-10 03:42] opoudjis commented on #618
Unassigning myself

[2022-05-10 03:53] opoudjis commented on #76
Most of these have already been done.

[2022-05-10 03:55] opoudjis commented on #76
... In fact, they all have.

[2022-05-10 03:55] #76 closed

[2022-05-10 03:55] ronaldtse commented on #618
@CAMOBAP can you please help here? Thanks.

[2022-05-30 02:31] ronaldtse opened #633 "Support internationalisation for custom localities"
Custom localities today only work for English, as it is a direct rendering of the locality type.

e.g.
[code]

But this is poor practice, and does not work for say, French, which can contain accents.

This task is to make custom localities work with internationalisation (and English should also be rendered according to a text, not "verbalisation" of the type).

[2022-05-30 09:55] opoudjis commented on #633
The flavour i18n files will have partial definitions of the locality hashes, so they require deep_merge with their ancestor i18n files, as has already been done for relaton-render.

[2022-06-04 17:11] Intelligent2013 commented on #629
Done.

[2022-06-04 17:11] #629 closed

[2022-06-05 18:24] #633 closed

[2022-06-09 01:30] #595 closed

[2022-06-29 15:41] manuelfuenmayor opened #641 "Should we use hyphen to encode numeric ranges?"
Since quite some time, I've been noticing that n-dashes are used for
representing numeric ranges:

![capture3](https://user-images.githubusercontent.com/33627611/176478113-1bf5f6b3-f8c7-4663-a0c5-a17750e780a3.PNG)

However, there is no encoding to render n-dashes in AsciiDoc (at time of publication).
So my question is, should we use hyphens instead? (e.g `69-161`)

[2022-06-29 16:03] manuelfuenmayor commented on #641
In private chatting, we concurred on using `&ndash;` (or `&#2013;`) for encoding en-dashes.
Closing.

[2022-06-29 16:06] ronaldtse commented on #641
Numeric ranges should be semantically encoded as numeric ranges, similarly for dates (and years). In the future perhaps something like `range:[n,m]` or shorthands like `n...m` would be more suitable.

To ask users to encode using entity codes or entity names is sidestepping the real issue -- no normal user would bother entering the `&ndash;` for a numeric range.

[2022-06-29 16:07] ronaldtse commented on #641
@manuelfuenmayor can you please help add the "Numeric range" encoding guidance to metanorma.org? Thanks.

[2022-06-29 16:07] #641 closed

[2022-06-30 15:22] CAMOBAP commented on #618
Summarizing

1. additional fonts will be obtained from adoc
2. those fonts will be mixed with font_manifest hardcoded in metanorma-* processor to metanorma manifest XML file
3. this manifest file will be passed to mn2pdf as usual

@Intelligent2013 @opoudjis I'm a bit out of context about `presentation.xml`. As far as I understand metanorma don't work with presentation.xml directly, correct me if I

[2022-07-01 07:21] Intelligent2013 commented on #618
@CAMOBAP agree.

@CAMOBAP I can say only that mn2pdf reads presentation.xml (generated by metanorma) directly.

[2022-07-03 10:38] opoudjis opened #642 "Remove deprecated, alternative tags in favour of related terms"
`related[@type=deprecates]` = deprecated

`related[@type=equivalent]` = equivalent

@Intelligent2013 This will impact you too.

[2022-07-03 15:28] Intelligent2013 commented on #642
@opoudjis what should I do here?

[2022-07-04 01:42] opoudjis commented on #642
Eventually, remove all references to the tags `deprecated` and `admitted`, and replace them with references to `related[@type = 'deprecates']` and `related[@type = 'equivalent']`. But wait for me to start this.

[2022-07-06 03:25] opoudjis commented on #642
No, I've thought better of it: deprecated and admitted as designations can still take metadata, whereas related terms cannot, because they are purely cross-references. Ticket annulled.

[2022-07-06 03:25] #642 closed

[2022-07-10 13:31] opoudjis commented on #557
The intent is what you're seeing, that the supplied text overwrites any attempt to provide autogenerated text.

* If I want to provide localities, and have custom text reflecting the localities, I can still supply custom text that reflects the localities. So `<<ref_3,clause=5,table=1,"Clause 5, Table 1, the foregoing reference">>`.
* But if I want to provide localities (for machine readability rea

[2022-07-10 13:36] #557 closed

[2022-07-13 12:45] ronaldtse opened #647 "Inline specification of alternative fonts/languages"
We need a way to indicate that what characters are to be represented by what fonts, in the case where special fonts are needed.

As suggested by @intelligent2013, to indicate font for the individual part of the text, I think we can introduce new construction:
[code]

Metanorma XML:
[code]

_Originally posted by @Intelligent2013 in https://github.com/metanorma/mn-native-pdf/issues/368#issuecomment-

[2022-07-20 08:34] Intelligent2013 opened #648 "Wrong table header for row spanned"
Source PR: https://github.com/metanorma/iso-34000/pull/1

Source adoc:
[code]

First 3 column:
[code]
are row spanned. But metanorma xml contains only one row in the `thead`, second row placed in the `tbody`:

[code]

[2022-07-28 11:04] opoudjis commented on #647
I have just defined `s:category[]` for semantically defined spans, but I don't mind segregating semantic microformatting from rendering microformatting (and `[format]#x#` has stronger associations with the latter, because of its use to generate CSS.)

But I'm not hard-coding idiosyncratic attributes like "font-family". We may not support open-ended CSS, but I'm going to have the contents of this t

[2022-07-28 11:09] opoudjis commented on #647
I'm also not making up a brand new element. This shall be `<span style=...>`.

[2022-07-28 11:30] #647 closed

[2022-07-28 14:10] opoudjis opened #652 "Optimise smartquote processing"
Parsing iso-10303-2 for https://github.com/metanorma/metanorma-iso/issues/601 brings up that once again, smartquote processing is a massive time-sink, and needs to be optimised. (Gave up waiting after an hour.) The problem with the current implementation is that it uses Nokogiri traverse to go through all text nodes in textual sequence, but it relies heavily on Nokogiri ancestor search to work out

[2022-07-28 14:49] opoudjis commented on #652
Sample file of 12k lines took 12 sec to process smartquotes traversal. Sample file of 24k lines (duplicated terms section) took 54 sec, which suggests O(n^2) (!) performance. 30k goes 98 sec.

Using path query for each node and checking its elements, rather than dynamic ancestor query, Sample file of 30k lines  goes from 98 sec to 1.04 sec.

I'd given up on processing iso-10303-2 after 1h15 min, i

[2022-07-28 15:03] #652 closed

[2022-07-29 04:13] ronaldtse commented on #652
Thank you! I’m glad this worked out.

[2022-08-06 04:34] Intelligent2013 opened #659 "Error: `undefined method `init_bib_caches' for Relaton::DbCache:Class`"
I try to solve the issue: https://github.com/metanorma/metanorma-ogc/issues/403

Source document: https://github.com/opengeospatial/ogcapi-environmental-data-retrieval/tree/1.0.1/standard

The command `bundle exec metanorma -t ogc -x presentation document.adoc` causes the error:

[code]

[2022-08-07 11:17] opoudjis commented on #659
That is a result of an upgrade to relaton gem. I will resolve it tomorrow with release.

[2022-08-07 11:47] opoudjis commented on #659
Have restored to relaton ability to disable local cache, by making the local_cache argument be nil.

[2022-08-10 15:04] opoudjis commented on #648
https://www.metanorma.org/author/topics/document-format/text/#tables

You must provide the attribute headerrows=2. Asciidoctor natively only accepts a single row as belonging to thead; the attribute headerrows overrides this.

[2022-08-10 15:23] opoudjis commented on #648
In source ticket https://github.com/metanorma/iso-34000/pull/1#issuecomment-1189955572 , @ronaldtse is protesting that the XML is invalid. The correct action here is to check that there aren't excessive rowspans invoked within a thead or tbody, and not just within an overall table -- rowspans are evaluated separately in each of thead tbody tfoot.

[2022-08-12 10:40] #648 closed

[2022-08-12 10:51] opoudjis commented on #484
EMF is converted to SVG in Presentation XML. The same will be done for EPS.

[2022-08-12 11:40] opoudjis commented on #572
Pending https://github.com/metanorma/pngcheck-ruby/issues/1

[2022-08-14 16:25] opoudjis commented on #484
No scour for now

[2022-08-14 16:25] #484 closed

[2022-08-14 17:27] ronaldtse commented on #484
There is a partial SVGO port in Ruby https://github.com/fnando/svg_optimizer , but the performance from this image was dismal compared with the original:
![original](https://user-images.githubusercontent.com/11865/184548036-ad7331ae-b9cc-425f-b16c-d8a0d6c8f3ef.svg)

[code]

[2022-08-17 01:10] ronaldtse opened #663 "Concept mentions across newlines break"
From ISO 34000:
[code]

This mention gets encoded as text due to the newline embedded within:
[code]

I'm not sure whether we are limited by the parser here but in case it isn't we should fix it.

[2022-08-22 04:25] ronaldtse commented on #572
pngcheck is now released. We need to use the code as demonstrated here:
https://github.com/metanorma/pngcheck-ruby#pre-validation-with-libpng-ruby

[2022-08-23 06:57] ronaldtse opened #664 "Allow customization of ISO 80000-1 number representation behavior"
In BIPM (Metanorma-BIPM):
* English: decimal marker is the point/period, number grouping symbol is a comma
* French: decimal marker is the comma, number grouping symbol is a single empty space

In ISO:
* English and French: decimal marker is the comma, number grouping symbol the empty space

In ISO/TC 211:
* English and French: decimal marker is the point/period, number grouping symbol the empty s

[2022-08-30 12:17] opoudjis commented on #663
Fixed. \s+ replaced by a single " ".

[2022-08-30 12:18] #663 closed

[2022-08-31 10:40] opoudjis opened #668 "Add to bibliographic span processing"
The spans notation for bibliographic tagging is limited. We will not make it encompass all of Relaton, because that just is unsustainable, but we do need to make it cover the most common bibliographic scenarios. So we will add:

* organization => `contributor/organization/name`, taking the same suffixes as surname
* pages => `extent[@type = 'page']/referenceFrom`, `extent[@type = 'page']/reference

[2022-09-01 14:29] #572 closed

[2022-09-01 15:40] opoudjis commented on #664
The proposed markers will need to be passed to isodoc from metanorma gem, since the localisation occurs within Presentation XML.

[2022-09-01 16:45] opoudjis commented on #664
The full list of number localisation attributes is:

* precision = number of decimal digits allowed

(which I use for imposing internal consistency, not as localisation)

* decimal = localize-number-decimal-marker
* group = localize-number-number-grouping-symbol before decimal marker
* group_digits = localize-number-number-grouping-digits before decimal point
* fraction_group = localize-number-num

[2022-09-05 15:58] opoudjis opened #672 "Windows image processing broken"
https://github.com/metanorma/metanorma-standoc/runs/8190807527?check_suite_focus=true

Breakage in Metanorma::Standoc::Datamodel::DiagramPreprocessor. Not my code, no idea how it works, and it's only crashing on PC.

[2022-09-05 16:26] opoudjis commented on #672
https://github.com/metanorma/pngcheck-ruby/actions

[2022-09-05 16:26] opoudjis commented on #672
@ronaldtse If there is no immediate resolution to this issue, I will need to remove the pngcheck functionality from the gem.

[2022-09-06 03:16] ronaldtse commented on #672
From https://github.com/metanorma/pngcheck-ruby/issues/11 it is clear that pngcheck is not the issue, it is whatever that generates that corrupt PNG image.

[2022-09-06 05:08] opoudjis commented on #672
@CAMOBAP I'm going to need your help.

At issue is this line:

[code]

Metanorma::Utils::datauri(i["src"], @localdir) in Windows is returning empty for PlantUML-generated images, so nothing is being passed on to png_validate1.

This happens in standoc, bin/rspec --format doc spec/metanorma/datamodel/diagram_preprocessor_spec.rb

There may well be a Windows-specific bug in metanorma-utils, but I ca

[2022-09-06 06:38] ronaldtse commented on #672
I’m looking at this code and it is missing several sanity checks, eg. Whether the datauri data is nil or empty. @CAMOBAP when you handle this can you add those checks? Eg output an Error message if a bad situation arises. Validation failure of an image should not kill the generation of a document.

[2022-09-06 12:59] opoudjis opened #673 "Confirm that images exist"
If an image is specified as a local file, confirm that the file exists. Needs to be invoked before pngcheck.

[2022-09-06 14:52] Intelligent2013 opened #674 "Error: RubyInline-3.12.6/lib/inline.rb:606:in ``': No such file or directory"
Source issue: https://github.com/metanorma/metanorma-iso/issues/778#issuecomment-1238239423

I can't generate the XML for ISO 19135 on Windows 7. It seems something wrong in `png` or `RubyInline` gems.

Actions:
`git clone https://github.com/metanorma/iso-19135`
`cd iso-19135`
`bundle update`
`cd sources\iso-19135-2021`
`bundle exec metanorma -t iso -x presentation document.adoc`:
[code]

On Windo

[2022-09-07 04:06] ronaldtse opened #676 "Move all plantuml related code to metanorma-plugin-plantuml"
We should change this repo to not use the plantuml workflow:
https://github.com/metanorma/metanorma-standoc/blob/6e12b5f77fd5b955b27a004fc6272ef16ef18701/.github/workflows/rake.yml#L13

[2022-09-07 06:24] ronaldtse commented on #672
I have done these checks in #675 but the specs are still failing due to relaton-iso.

[2022-09-07 10:22] opoudjis commented on #672
Removing fatal error, as requested by @ronaldtse

[2022-09-07 11:59] #673 closed

[2022-09-07 11:59] opoudjis commented on #672
VCR cassettes refreshed, will pass.

Ticket remains open, @CAMOBAP still working on the Windows issue.

[2022-09-07 12:08] opoudjis commented on #674
It's an issue with PNG validation or data uris on Windows, https://github.com/metanorma/metanorma-standoc/issues/672

I'm no longer crashing if PNG fails to validate, so upcoming hotfix should address this.

[2022-09-07 17:32] ronaldtse commented on #674
We do not need the "png" gem which uses rubyinline, which is crashing.

I believe @opoudjis has already removed the png gem and we can close this issue.

[2022-09-08 05:14] CAMOBAP commented on #672
Already done by @opoudjis

[2022-09-08 05:14] #672 closed

[2022-09-09 12:47] opoudjis commented on #674
@Intelligent2013 We've finally released. Please confirm?

[2022-09-09 14:17] Intelligent2013 commented on #674
No error `Error: RubyInline`. Thanks!

[2022-09-09 14:17] #674 closed

[2022-09-10 07:59] ronaldtse commented on #664
@opoudjis I'm fine with this syntax, we just need to document it properly as an option.

[2022-09-19 15:15] #668 closed

[2022-09-29 12:33] opoudjis commented on #74
Has already been done

[2022-10-03 10:35] opoudjis commented on #74
Several of these have already been done in fact.

[2022-10-03 12:23] #74 closed

[2022-10-06 10:38] Intelligent2013 opened #686 "Add 'formula' and 'equation' designation's types"
Source issues: https://github.com/metanorma/mnconvert/issues/230, https://github.com/metanorma/mnconvert/issues/190
Currently Metanorma supports these designation's types (https://www.metanorma.org/author/topics/document-format/section-terms/#metadata):

In [Guidelines for coding IEC and ISO standards in NISOSTS.pdf](https://github.com/metanorma/mnconvert/files/9429314/Guidelines.for.coding.IEC.an

[2022-10-10 17:35] Intelligent2013 opened #688 "Support unit statements for figures and tables"
Source issues: https://github.com/metanorma/mnconvert/issues/224, https://github.com/metanorma/mnconvert/issues/228.

ISO and IEC documents may contain the text describing the units used in the tables and figures (unit statements).

From [Guidelines for coding IEC and ISO standards in NISOSTS.pdf](https://github.com/metanorma/mnconvert/files/9429314/Guidelines.for.coding.IEC.and.ISO.standards.in.N

[2022-10-11 04:01] ronaldtse commented on #688
This issue is also mentioned here: https://github.com/metanorma/metanorma-iso/issues/754

[2022-10-11 09:28] opoudjis commented on #688
We allow a type attribute on paragraphs:

[code]

I'm not going to put in numerical values into attributes on an adhoc basis. We need a global solution for RDF microformatting of Metanorma documents, in line with Smart documents, and that is the only context I will insert numeric values with.

Does `@type` address your need?

[2022-10-11 10:21] ronaldtse commented on #688
@opoudjis look at https://github.com/metanorma/metanorma-iso/issues/754 please.

[2022-10-11 12:49] opoudjis commented on #688
This is not a key, and in the first figure, it occurs alongside the key.

Instead, this is some sort of bizarre extraneous note to a table or figure, which is idiosyncratically rendered.

So, the solution to this is:

[code]

I'll implement that.

[2022-10-18 19:46] anermina opened #691 "Enable combination of cross-references for bibliographic items"
It is currently possible to use conjunctions `and`, `or`, `from` and `to` for clauses, tables, etc., but not for bibliographic items.

Following markup:
[code]

creates this output:
![image](https://user-images.githubusercontent.com/55683568/196528557-a0269173-7514-4a0b-a511-f78b70b107ae.png)

It would be useful to add `and` and `to` conjunctions for bibliographic items as well.

[2022-10-20 12:59] opoudjis commented on #691
Made urgent, because it's SI Brochure. (On the other hand, the ITU WHO tickets are currently bottom of the pile.)

[2022-10-25 05:05] opoudjis opened #692 "Reference entities with persistent URI instead of anchor"
To be used for requirements, but is generic, Linked Data requirement.

[2022-10-25 05:06] ronaldtse commented on #692
Here's the original ticket that was prematurely closed: https://github.com/metanorma/metanorma-iso/issues/793

[2022-10-25 17:00] opoudjis commented on #692
`requirement:uri:[]` has been suggested. This will NEVER be the implementation. However, `<<http://example.com>>` => `<<id,uri=http://example.com%>>` => `<xref target="id">http://example.com</xref>` might be better expressed as `identifier:xref[http://www.example.com]`

[2022-10-26 00:16] opoudjis opened #693 "preserve source Math expression in MathML generation"
The error reporting in Plurimath is unusably bad at the moment (https://github.com/plurimath/plurimath/issues/80), and it's not clear to me that it will get better. Moreover, given that users enter AsciiMath and not MathML, an error report on the generated MathML is of limited use.

In order to help the process, and as a desideratum already expressed in https://github.com/metanorma/metanorma-ieee/

[2022-10-26 06:04] ronaldtse commented on #692
Might be easier to read if these are in separate lines?

This is fine:
[code]

Some requirements will not have the full URI:

[code]

Remember that AsciiDoc supports the `link:` macro if we're looking at URI/URLs if you want to compare the syntax:

[code]

[2022-10-27 12:50] opoudjis commented on #692
`uri` as an attribute is already defined for tables and admonitions, as the place where the table and admonition is available for download online.

Well, that suits me, I had originally proposed `globalid` all along.

I am trying to resolve the syntactic problems with markup here, and your "This is really messed up" is counterproductive. I EXPLICITLY said I was trying to avoid that syntax.

[2022-10-27 13:16] opoudjis commented on #692
First: stop talking about requirements. This is meant to be a global solution for all blocks, as I have said on multiple occasions.

Second: as originally intended, the globalid is not going to be restricted to URIs. That dispenses with (3).

Third: Blocks will have both anchors and global identifiers. Therefore objection (1) is invalid. The intention is to search the document for globalid matches

[2022-10-27 13:24] opoudjis commented on #692
Currently, Standoc replaces unsafe characters in XML attributes with underscore: http://www.example.com => http___www.example.com

We will need to override that for `xref/@target` and `*/@globalid`, to a non-lossy representation that is compatible with xsd:IDREF (anchors).

xsd:IDREF is xsd:NCName: "letters, digits, ideographs, and the underscore, hyphen, and period".

So we can't use Percent-Enco